.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Блог
.blog--page
    .container
        .blog__title
            span Блог
        .row
            .blog__list
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-1.jpg" alt="" srcset="img/blog/blog-item-1.jpg 1100w, img/blog/blog-item-1-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-2.jpg" alt="" srcset="img/blog/blog-item-2.jpg 1100w, img/blog/blog-item-2-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span NIKE ZOOM SPIRIDON ULTRA (TRIPLE WHITE)
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-3.jpg" alt="" srcset="img/blog/blog-item-3.jpg 1100w, img/blog/blog-item-3.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)                
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-3.jpg" alt="" srcset="img/blog/blog-item-3.jpg 1100w, img/blog/blog-item-3.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)                        
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-1.jpg" alt="" srcset="img/blog/blog-item-1.jpg 1100w, img/blog/blog-item-1-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-2.jpg" alt="" srcset="img/blog/blog-item-2.jpg 1100w, img/blog/blog-item-2-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span NIKE ZOOM SPIRIDON ULTRA (TRIPLE WHITE)
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-3.jpg" alt="" srcset="img/blog/blog-item-3.jpg 1100w, img/blog/blog-item-3.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)                
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-3.jpg" alt="" srcset="img/blog/blog-item-3.jpg 1100w, img/blog/blog-item-3.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)                        
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-1.jpg" alt="" srcset="img/blog/blog-item-1.jpg 1100w, img/blog/blog-item-1-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)    
        .row
            .blog__banner-list
                .blog__big-banner
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-1.jpg" alt="" srcset="img/blog/blog-item-1.jpg 1100w, img/blog/blog-item-1-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)
                .blog__insta-list                        
                    .blog__insta-list-title SNEAKER FREAKER INSTAGRAM
                    .blog__insta-posts
                        a(href="#").blog__insta-post-item
                            img(src="img/blog/insta-1.jpg" alt="" width="85" height="85").blog__insta-post-image
                            span.blog__insta-post-text.
                                The 'Triple Black' VaporMax is the current office favourite here at SF HQ.
                                #sneakerfreaker #snkrfrkr #nike #vapormax   
                        a(href="#").blog__insta-post-item
                            img(src="img/blog/insta-2.jpg" alt="" width="85" height="85").blog__insta-post-image
                            span.blog__insta-post-text.
                                It's springtime in Florida and the New Balance 997 'Coumarin' is ready to play ball. Pic via @sneakerpolitics
                                #sneakerfrea...
                        a(href="#").blog__insta-post-item
                            img(src="img/blog/insta-3.jpg" alt="" width="85" height="85").blog__insta-post-image
                            span.blog__insta-post-text.
                                The 'Streetblock' brings us another round of PUMA Prevail goodness. Pic via @overkillshop
                                #sneakerfreaker #snkrfrkr #puma ...

                        a(href="#").blog__insta-post-item
                            img(src="img/blog/insta-4.jpg" alt="" width="85" height="85").blog__insta-post-image
                            span.blog__insta-post-text.
                                Catch us in the quad with the Air Force 1 'Hacky Sack'. Pic via @43einhalb
                                #sneakerfreaker #snkrfrkr #nike #airforce1 #hac...
        .row
            .blog__list
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-1.jpg" alt="" srcset="img/blog/blog-item-1.jpg 1100w, img/blog/blog-item-1-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-2.jpg" alt="" srcset="img/blog/blog-item-2.jpg 1100w, img/blog/blog-item-2-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span NIKE ZOOM SPIRIDON ULTRA (TRIPLE WHITE)
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-3.jpg" alt="" srcset="img/blog/blog-item-3.jpg 1100w, img/blog/blog-item-3.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)                
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-3.jpg" alt="" srcset="img/blog/blog-item-3.jpg 1100w, img/blog/blog-item-3.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)                        
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-1.jpg" alt="" srcset="img/blog/blog-item-1.jpg 1100w, img/blog/blog-item-1-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span Sneakerbaas x KangaROOS Coil R-2 (Sin City)
                .blog__item
                    .blog__inner
                        a(href="#").blog__link-image
                            img(src="img/blog/blog-item-2.jpg" alt="" srcset="img/blog/blog-item-2.jpg 1100w, img/blog/blog-item-2-700x468.jpg 767w")
                        a(href="#").blog__link-category Sneakers        
                        a(href="#").blog__link-text
                            span NIKE ZOOM SPIRIDON ULTRA (TRIPLE WHITE)        
        .row
            a(href="#").blog__wide-banner
                img(src="img/giveaway.jpg" alt="")                                    
