#quick-buy.quick-buy(style="display: none;")
    .size-info#sizes(style="display: none;")
        .container
            .size-info__title NIKE SIZE CHARTS
            .size-info__top-category-wrap
                .size-info__top-category-item
                    a(href="#").size-info__top-category-link.js-top-category.active Для мужского 
                    .size-info__inner-category-wrap
                        .size-info__inner-category-item
                            a(href="#").size-info__inner-category-link.active.js-inner-category  
                                span Верхній одяг  
                            .size-info__bottom-wrap
                                .size-info__bottom-item
                                    a(href="#info-1").size-info__bottom-link.js-current-category.active
                                        span Всі моделі верху      
                                .size-info__bottom-item 
                                    a(href="#info-2").size-info__bottom-link.js-current-category 
                                        span Оверсайз 
                                .size-info__bottom-item 
                                    a(href="#info-3").size-info__bottom-link.js-current-category 
                                        span Сноуборд           
                        .size-info__inner-category-item    
                            a(href="#").size-info__inner-category-link.js-inner-category
                                span Штани/шорти 
                            .size-info__bottom-wrap
                                .size-info__bottom-item
                                    a(href="#info-4").size-info__bottom-link.js-current-category 
                                        span Всі моделі Штани/шорти     
                                .size-info__bottom-item 
                                    a(href="#info-5").size-info__bottom-link.js-current-category 
                                        span Оверсайз 
                        .size-info__inner-category-item    
                            a(href="#").size-info__inner-category-link.js-inner-category 
                                span Взуття
                            .size-info__bottom-wrap
                                .size-info__bottom-item
                                    a(href="#info-6").size-info__bottom-link.js-current-category 
                                        span Всі моделі Взуття    
                .size-info__top-category-item
                    a(href="#").size-info__top-category-link.js-top-category Для женского                  
            .info-main.active#info-1
                .info-main__title Всі моделі верху     
                .info-main__wrapper
                    .info-main__step
                        .info-main__step-title <span>Крок 1: </span> Зробіть заміри 
                        .info-main__step-wrapper
                            img(src="img/size/1.jpeg" alt="").info-main__step-image
                    .info-main__step
                        .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                        .info-main__step-wrapper
                            .info-main__table-wrapper
                                table.size-table
                                    tbody
                                        tr.size-table__head
                                            th SIZE 
                                            th CHEST (cm)   
                                            th WAIST (cm)
                                            th HIPS (cm)
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') S
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                            td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') M
                                            td.nsg-bg--light-grey 96&ndash;104
                                            td.nsg-bg--light-grey 81&ndash;89
                                            td.nsg-bg--light-grey 96&ndash;104
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') L
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                            td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XL
                                            td.nsg-bg--light-grey 112&ndash;124
                                            td.nsg-bg--light-grey 97&ndash;109
                                            td.nsg-bg--light-grey 112&ndash;120
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXL
                                            td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                            td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                            td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXL
                                            td.nsg-bg--light-grey 136&ndash;148
                                            td.nsg-bg--light-grey 121&ndash;133
                                            td.nsg-bg--light-grey 128&ndash;136
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXXL
                                            td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                            td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                            td.nsg-bg--white(style='height:40px;') 136&ndash;145

            .info-main#info-2
                .info-main__title Оверсайз     
                .info-main__wrapper
                    .info-main__step
                        .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                        .info-main__step-wrapper
                            .info-main__table-wrapper
                                table.size-table
                                    tbody
                                        tr.size-table__head
                                            th SIZE 
                                            th CHEST (cm)   
                                            th WAIST (cm)
                                            th HIPS (cm)
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') S
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                            td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') M
                                            td.nsg-bg--light-grey 96&ndash;104
                                            td.nsg-bg--light-grey 81&ndash;89
                                            td.nsg-bg--light-grey 96&ndash;104
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') L
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                            td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XL
                                            td.nsg-bg--light-grey 112&ndash;124
                                            td.nsg-bg--light-grey 97&ndash;109
                                            td.nsg-bg--light-grey 112&ndash;120
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXL
                                            td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                            td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                            td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXL
                                            td.nsg-bg--light-grey 136&ndash;148
                                            td.nsg-bg--light-grey 121&ndash;133
                                            td.nsg-bg--light-grey 128&ndash;136
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXXL
                                            td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                            td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                            td.nsg-bg--white(style='height:40px;') 136&ndash;145    




            .info-main#info-3
                .info-main__title Сноуборд     
                .info-main__wrapper
                    .info-main__step
                        .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                        .info-main__step-wrapper
                            .info-main__table-wrapper
                                table.size-table
                                    tbody
                                        tr.size-table__head
                                            th SIZE 
                                            th CHEST (cm)   
                                            th WAIST (cm)
                                            th HIPS (cm)
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') S
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                            td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') M
                                            td.nsg-bg--light-grey 96&ndash;104
                                            td.nsg-bg--light-grey 81&ndash;89
                                            td.nsg-bg--light-grey 96&ndash;104
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') L
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                            td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XL
                                            td.nsg-bg--light-grey 112&ndash;124
                                            td.nsg-bg--light-grey 97&ndash;109
                                            td.nsg-bg--light-grey 112&ndash;120
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXL
                                            td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                            td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                            td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXL
                                            td.nsg-bg--light-grey 136&ndash;148
                                            td.nsg-bg--light-grey 121&ndash;133
                                            td.nsg-bg--light-grey 128&ndash;136
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXXL
                                            td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                            td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                            td.nsg-bg--white(style='height:40px;') 136&ndash;145                      

    .quick-buy__detail
        .container
            .detail__wrapper
                .detail__left
                    .detail__mobile
                        a(href="#").detail__mobile-brand
                            img(src="img/detail/brand.jpg" alt="")
                        .detail__mobile-name Jack & Jones - Кофта 
                        .detail__mobile-price 869 грн
                        
                    .detail__product-preview
                        a(href="1").detail__preview-link.js-go-to-slide.active
                            img(src="img/detail/detail-1-small.jpg" alt="")
                        a(href="2").detail__preview-link.js-go-to-slide
                            img(src="img/detail/detail-2-small.jpg" alt="")
                        a(href="3").detail__preview-link.js-go-to-slide
                            img(src="img/detail/detail-3-small.jpg" alt="")
                        a(href="4").detail__preview-link.js-go-to-slide
                            img(src="img/detail/detail-4-small.jpg" alt="")
                        a(href="#" ).detail__preview-link.detail__preview-link--video.js-show-video
                            img(src="img/detail/detail-4-small.jpg")             
                    .detail__product-slider
                        .detail__slider.js-product-slider
                            a(href="img/detail/detail-1.jpg" data-fancybox).detail__product-slide
                                img(src="img/detail/detail-1.jpg") 
                            a(href="img/detail/detail-2.jpg" data-fancybox).detail__product-slide
                                img(src="img/detail/detail-2.jpg") 
                            a(href="img/detail/detail-3.jpg" data-fancybox).detail__product-slide
                                img(src="img/detail/detail-3.jpg") 
                            a(href="img/detail/detail-4.jpg" data-fancybox).detail__product-slide
                                img(src="img/detail/detail-4.jpg")  
                        .detail__video
                            video#productVideo(controls='true', poster='img/detail/detail-4.jpg', preload='none', width='100%', height='100%')
                                source(src='video/detail.mp4', type='video/mp4')
                    .detail__product-slider-info.
                        Рост модели на первой фотографии - 189 см. Показывает товар размера M                          
                .detail__right
                    .detail__product-name-wrapper
                        a(href="#").detail__brand
                            img(src="img/detail/brand.jpg" alt="")
                        .detail__product-title Jack & Jones - Кофта 
                        .detail__product-price 869 грн
                    .detail__product-color
                        a(href="#").detail__product-link.active
                            img(src="img/color/1.jpg" alt="")
                        a(href="#").detail__product-link
                            img(src="img/color/2.jpg" alt="")

                        a(href="#").detail__product-link
                            img(src="img/color/3.jpg" alt="")

                        a(href="#").detail__product-link
                            img(src="img/color/4.jpg" alt="")            
                    .detail__product-btns
                        .detail__product-size
                            select.detail__product-select.js-custom-size
                                option(value="s" disabled).disabled S  
                                option(value="m") M
                                option(value="l") L
                                option(value="xl") XL
                                option(value="xxl") XXL
                            .detail__product-size-wrapper
                                a(href="#").detail__product-size-btn.js-show-drop-select
                                    span размер
                                    span.detail__size-name
                                .detail__size-dropdown
                                    ul.detail__size-list.clearfix
                                        li.detail__size-item.disabled  S
                                        li.detail__size-item  M
                                        li.detail__size-item.selected  L
                                        li.detail__size-item  XL
                        a(href="#").detail__to-cart 
                            span В корзину
                        a(href="#").detail__to-save.js-add-to-save
                    a(href="#sizes" data-fancybox).detail__size-table-link Таблица размеров    
                    .detail__info-wrapper
                        .detail__info-item
                            a(href="#").detail__info-item-title.js-show-category.active Описание товара
                            .detail__info-item-text.js-show-category-body.active
                                p.
                                    Кофта из коллекции Jack &amp; Jones. Модель выполнена из трикотажа с апликацией.
                                ul
                                    li.
                                        Свободная модель
                                    li.
                                        Круглый вырез
                                    li.
                                        Отделка в виде стяжки
                                    li.
                                        Декоративная деталь спереди
                                    li.
                                        Длина рукава: 69 см.
                                    li.
                                        Длина: 72 см
                                    li.
                                        Ширина подмышками: 51 см
                                    li.
                                        Параметры указаны для размера: M                         
                                p.
                                    Состав: <br>
                                    98% Хлопок, 2% Полиэстер
                                p.
                                    Код товара: 4931-BLM018
                                    Код произодителя: 12115965    
                        .detail__info-item
                            a(href="#").detail__info-item-title.js-show-category Отправка           
                            .detail__info-item-text.js-show-category-body
                                p.
                                    БЕСПЛАТНАЯ ДОСТАВКА ДЛЯ ЗАКАЗОВ СВЫШЕ 750 ГРН. Возврат в течение 30 дней за наш счет!
                                p.
                                    ANSWEAR.UA ПРЕДОСТАВЛЯЕТ СВОИМ КЛИЕНТАМ СЛЕДУЮЩИЕ СПОСОБЫ ДОСТАВКИ:
                                ul
                                    li.
                                        Точка выдачи (Міст Експрес), 
                                    li.
                                        Курьер (Міст Експрес), 
                                    li.
                                        Почтомат ПриватБанка (Міст Експрес).
                                    li.
                                        Более подробную информацию о каждой из форм доставки Вы можете  посмотреть здесь.
                                p.
                                    ВРЕМЯ РЕАЛИЗАЦИИ ЗАКАЗА, БЕЗ ЗАВИСИМОСТИ ОТ ВЫБРАННОГО СПОСОБА ДОСТАВКИ, СОСТАВЛЯЕТ ДО 150 ЧАСОВ ОТ МОМЕНТА ПОТВЕРЖДЕНИЯ ЗАКАЗА В ОПЕРАТОРА ANSWEAR.UA.
                        .detail__info-item
                            a(href="#").detail__info-item-title.js-show-category Рекламация и возврат           
                            .detail__info-item-text.js-show-category-body     
                                p.
                                    Мы ценим и уважаем своих Клиентов, а так же заботимся о поддержании нашего имиджа на должном уровне. Именно поэтому любой товар, купленный в нашем интернет-магазине, Вы можете вернуть в течении 30 календарных дней после его доставки (получения у курьера).
                                p.
                                    Подробная информация о условиях возврата, обмена и рекламации наших товаров по адресу www.answear.ua/vozvraty-obmeny-i-reklamatsii.
                        .detail__info-item
                            a(href="#").detail__info-item-title.js-show-category Облако тегов  
                            .detail__info-item-text.js-show-category-body     
                                a(href="#").detail__tags #однотонные
                                | ,
                                a(href="#").detail__tags #без капюшона
                                | ,
                                a(href="#").detail__tags #однотонные
                                | ,
                                a(href="#").detail__tags #без капюшона
                                | ,
                                a(href="#").detail__tags #однотонные
                                | ,
                                a(href="#").detail__tags #без капюшона
                                | ,
                                a(href="#").detail__tags #однотонные
                                | ,
                                a(href="#").detail__tags #без капюшона
                                | ,
                    .detail__sharing


.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link он
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link одежда  
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link брюки         
.catalog
    .container
        .row
            .catalog__info-wrapper
                a(href="#" data-text="Показать фильтры").catalog__show-filter-btn.js-show-filter.
                    Скрыть фильтры

                .catalog__sorting
                    .catalog__sorting-select-wrapper
                        .catalog__sorting-item
                            .catalog__sorting-name Сортировать:
                            select.catalog__sorting-select
                                option нові товари
                                option ціна за збільшенням
                                option ціна за спаданням
                                option товари зі знижкою
                        .catalog__sorting-item.catalog__sorting-item--count 
                            .catalog__sorting-name ПОКАЗАТЬ:
                            select.catalog__sorting-select
                                option 60
                                option 180
                                option усі
                            .catalog__sorting-info 60 из 384    
            .catalog__wrap
                .catalog__aside
                    .catalog__aside-wrapper    
                        .catalog__item
                            .catalog__title Джинсы: 
                            .catalog__item-wrap.scroll
                                ul.catalog__list    
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Джинсы 
                        .catalog__item
                            .catalog__title Свойства: 
                            .catalog__item-wrap.scroll
                                ul.catalog__list    
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: slim 
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: зауженные

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: прямые
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: свободные  

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: скинни
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: узкие 


                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: slim 
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: зауженные

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: прямые
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: свободные  

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: скинни
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: узкие 
                        .catalog__item
                            .catalog__title Свойства: 
                            .catalog__item-wrap.scroll
                                ul.catalog__list    
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: slim 
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: зауженные
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: прямые
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: свободные  
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: скинни
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: узкие 
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: slim 
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: зауженные

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: прямые
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: свободные  

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: скинни
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: узкие                                                 
                        .catalog__item
                            .catalog__title Бренд: 
                            label.catalog__param-item
                                input(type="checkbox").catalog__input
                                span.catalog__icon
                                span.catalog__item-name Премиум
                            .catalog__item-search
                                form
                                    input(type='text').catalog__search-input
                            .catalog__item-wrap.scroll
                                ul.catalog__list    
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: прямые
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: свободные  

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: скинни
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: узкие

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: прямые
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: свободные  

                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: скинни
                                    li.catalog__list-item
                                        label.catalog__param-item
                                            input(type="checkbox").catalog__input
                                            span.catalog__icon
                                            span.catalog__item-name Крой: узкие                 
                        .catalog__item
                            .catalog__title Цена:
                            .price-range__wrapper
                                #priceRange(data-set-min="0" data-set-max="3699").price-range                   
                            .price-inputs
                                div
                                    input(type="text").price-inputs__input.price-inputs__input--min
                                div    
                                    input(type="text").price-inputs__input.price-inputs__input--max
                                    input(type="submit" value="OK").price-inputs__btn    
                            label.catalog__param-item
                                input(type="checkbox").catalog__input
                                span.catalog__icon
                                span.catalog__item-name только со скидками         




                    

                .catalog__main
                    .catalog__main-wrapper
                        -for (var i = 0; i < 16; i++)
                            .catalog__main-item
                                .catalog__main-image-wrapper.js-other-side
                                    a(href="#" data-other-side="img/catalog/1-back.jpg").catalog__main-item-photo
                                        img(src="img/catalog/1.jpg" alt="" data-object-fit="cover").catalog__main-item-img
                                    .catalog__main-info-wrapper
                                        .catalog__main-sizes
                                            span xs
                                            span s
                                            span m
                                            span l
                                            span xl
                                        a(href="#quick-buy" data-fancybox).js-quick-buy.catalog__quick-buy ШВИДКА ПОКУПКА        
                                a(href="#").catalog__main-item-name Basic Tee
                                .catalog__main-item-price 280 ₴    
                    a(href="#").catalog__show-all показати усі товари        
            .catalog__info-wrapper.catalog__info-wrapper--right
                .catalog__sorting
                    .catalog__sorting-pagination
                        a(href="#").catalog__pagination-btn.catalog__pagination-btn--prev.disabled
                        .catalog__sorting-name.catalog__sorting-name--pagination Страница
                        input(type="text" value="1").catalog__pagination-input
                        .catalog__sorting-name.catalog__sorting-name--pagination из 7
                        a(href="#").catalog__pagination-btn.catalog__pagination-btn--next                      





.text
    .container
        .text__wrapper
            .text__img-wrapper
                img(src="img/category/text.jpg").text__image
            .text__text-wrapper
                h2 Мужской гардероб
                p.
                    Гардероб современного мужчины разнообразен и многогранен. И если, ещё пару-тройку десятков лет назад, в шкафу среднестатистического мужчины можно было найти лишь спортивный костюм, пару брюк, джинсы и несколько рубашек, то в настоящее время, мировая fasion-индустрия предлагает представителям сильной половины человечества широчайший выбор! Одежда, аксессуары и обувь на все случаи жизни, для любой ситуации и на самый притязательный вкус.                                        
                ul
                    li.
                        повседневные коллекции
                    li.
                        деловой и классический стиль
                    li.
                        торжественную и праздничную одежду
                    li.
                        спортивную линию
                    li.
                        оригинальные и стильные аксессуары
                    li.
                        великолепную и качественную обувь различной стилистики            
                br
                p.
                    А также, множество прочих интересных вещиц и деталей гардероба различного предназначения.
                p.
                    Сегодня, большинство мужчин стремится выглядеть хорошо, эффектно и модно, быть в тренде и идти в ногу со временем. Выбирая для отдыха, работы и путешествий комфортные, практичные и стильные модели от ведущих мировых брендов. Мужчины бросают вызов обыденности, отдавая предпочтения дерзким и смелым коллекциям креативных лейблов, зачастую, не уступая своим избранницам в хорошем вкусе и безупречном чувстве стиля.    
                h3.
                    Шоппинг
                p.
                    Как правило, мужчины отличаются своей практичностью и прагматичным взглядом на жизнь. Они ценят и экономят свое время, не желая тратить на шоппинг все выходные, предпочитая проводить их с большей пользой, чем хождение по магазинам в поисках нужной вещицы и трата времени в пробках по пути в торговые центры. <strong>Интернет-магазин ANSWEAR </strong>
                    прекрасно понимает и чувствует своих Клиентов, а потому решает эту задачу и предлагает совершать покупки легко и быстро! Вы можете заказать любую деталь для своего гардероба, не выходя из дома или офиса. Купить вещи от таких культовых мировых брендов, как Pepe Jeans,             
