.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Мужская мода
.category
    .container
        .row
            .category__wrap
                .category__aside
                    .category__filter
                        .category__filter-item
                            .js-show-category.catalog__title.catalog__open-link Одежда
                            .category__filter-body.active.js-show-category-body
                                ul.category__filter-list
                                    - var list = ['Брюки','Джинсы','Кофты','Куртки и пальто','Нижнее белье','Носки','Пиджаки и костюмы','Рубашки']
                                    each listitem in list
                                        li.category__filter-item
                                            a(href="#").category__filter-link= listitem
                        .category__filter-item
                            .js-show-category.catalog__title.catalog__open-link.active Обувь
                            .category__filter-body.js-show-category-body
                                ul.category__filter-list
                                    - var list = ['Брюки','Джинсы','Кофты','Куртки и пальто','Нижнее белье','Носки','Пиджаки и костюмы','Рубашки']
                                    each listitem in list
                                        li.category__filter-item
                                            a(href="#").category__filter-link= listitem 
                        .category__filter-item
                            .js-show-category.catalog__title.catalog__open-link.active Аксессуары
                            .category__filter-body.js-show-category-body
                                ul.category__filter-list
                                    - var list = ['Брюки','Джинсы','Кофты','Куртки и пальто','Нижнее белье','Носки','Пиджаки и костюмы','Рубашки']
                                    each listitem in list
                                        li.category__filter-item
                                            a(href="#").category__filter-link= listitem                               

                .category__main    
                    .category__wrapper
                        .category__item
                            a(href="#").category__link
                                img(src="img/category/1.jpg" data-object-fit="cover").category__link-img
                        .category__item.category__item--half.category__item--smallItems   
                            a(href="#").category__link
                                img(src="img/category/2.jpg" data-object-fit="cover").category__link-img
                            a(href="#").category__link
                                img(src="img/category/3.jpg" data-object-fit="cover").category__link-img    
                        .category__item.category__item--half        
                            a(href="#").category__link
                                img(src="img/category/4.jpg" data-object-fit="cover").category__link-img    
                        .category__item.category__item--half.category__item--smallItems   
                            a(href="#").category__link
                                img(src="img/category/2.jpg" data-object-fit="cover").category__link-img  
                        .category__item.category__item--half        
                            a(href="#").category__link
                                img(src="img/category/4.jpg" data-object-fit="cover").category__link-img    
                        .category__item.category__item--half        
                            a(href="#").category__link
                                img(src="img/category/5.jpg" data-object-fit="cover").category__link-img 
                        .category__item.category__item--half        
                            a(href="#").category__link
                                img(src="img/category/6.jpg" data-object-fit="cover").category__link-img              

//- .text
//-     .container
//-         .text__wrapper
//-                 .text__img-wrapper
//-                     img(src="img/category/text.jpg").text__image
//-                 .text__text-wrapper
//-                     h2 Мужской гардероб
//-                     p.
//-                         Гардероб современного мужчины разнообразен и многогранен. И если, ещё пару-тройку десятков лет назад, в шкафу среднестатистического мужчины можно было найти лишь спортивный костюм, пару брюк, джинсы и несколько рубашек, то в настоящее время, мировая fasion-индустрия предлагает представителям сильной половины человечества широчайший выбор! Одежда, аксессуары и обувь на все случаи жизни, для любой ситуации и на самый притязательный вкус.                                        
//-                     ul
//-                         li.
//-                             повседневные коллекции
//-                         li.
//-                             деловой и классический стиль
//-                         li.
//-                             торжественную и праздничную одежду
//-                         li.
//-                             спортивную линию
//-                         li.
//-                             оригинальные и стильные аксессуары
//-                         li.
//-                             великолепную и качественную обувь различной стилистики            
//-                     br
//-                     p.
//-                         А также, множество прочих интересных вещиц и деталей гардероба различного предназначения.
//-                     p.
//-                         Сегодня, большинство мужчин стремится выглядеть хорошо, эффектно и модно, быть в тренде и идти в ногу со временем. Выбирая для отдыха, работы и путешествий комфортные, практичные и стильные модели от ведущих мировых брендов. Мужчины бросают вызов обыденности, отдавая предпочтения дерзким и смелым коллекциям креативных лейблов, зачастую, не уступая своим избранницам в хорошем вкусе и безупречном чувстве стиля.    
//-                     h3.
//-                         Шоппинг
//-                     p.
//-                         Как правило, мужчины отличаются своей практичностью и прагматичным взглядом на жизнь. Они ценят и экономят свое время, не желая тратить на шоппинг все выходные, предпочитая проводить их с большей пользой, чем хождение по магазинам в поисках нужной вещицы и трата времени в пробках по пути в торговые центры. <strong>Интернет-магазин ANSWEAR </strong>
//-                         прекрасно понимает и чувствует своих Клиентов, а потому решает эту задачу и предлагает совершать покупки легко и быстро! Вы можете заказать любую деталь для своего гардероба, не выходя из дома или офиса. Купить вещи от таких культовых мировых брендов, как Pepe Jeans,             
