.checkout
    form#checkout-step-1.container
        .checkout__head.checkout__tab.checkout__tab--1.active
            .checkout__steps
                .checkout__steps-item.active
                    span.checkout__steps-num 1.
                    span.checkout__steps-name Адресные данные
                .checkout__steps-item
                    span.checkout__steps-num 2.
                    span.checkout__steps-name ДОСТАВКА И ОПЛАТА
                .checkout__steps-item
                    span.checkout__steps-num 3.
                    span.checkout__steps-name ПОДТВЕРЖДЕНИЕ ЗАКАЗА
            .checkout__cart-list
                - for (var i = 0; i < 2; i++)
                    .cart-page__list-item.cart-page__list-item--checkout
                        .cart-page__list-name.cart-page__list-name--inner
                            a(href="#").cart-page__list-remove.js-remove-item-cart-list
                            a(href="#").cart-page__list-image
                                img(src="img/cart/cart-1.jpg" alt="")
                            .cart-page__list-name-wrap
                                a(href="#").cart-page__list-name-info MEDICINE
                                .cart-page__list-name-value Medicine - Брюки Urban Uniform
                                .cart-page__mobile-info
                                    .cart-page__list-name-value M, Черный, 2 шт.
                                .cart-page__mobile-info
                                    .cart-page__mobile-price
                                        .cart-page__price-total 3 298 грн.
                                .cart-page__mobile-info
                                    a(href="#").cart-page__favorite удалить
                        .cart-page__list-details.cart-page__list-details--inner
                            .cart-page__list-inner
                                .cart-page__detail-item размер: <span> S</span>
                                .cart-page__detail-item цвет: <span>Черный</span>
                        .cart-page__list-quantity.cart-page__list-quantity--inner
                            .cart-page__list-inner
                                .cart-page__list-quantity-change-wrap
                                    input(type="text" value="1" readonly).cart-page__input-quantity
                        .cart-page__list-total.cart-page__list-total--inner
                            .cart-page__list-total-product 1 649 грн.
            .checkout__top-info.clearfix
                a(href="#").checkout__your-cart.js-show-small-cart
                    +icon('shopping-cart')
                    span.inner-text
                        span Оформить заказ
                        span.v-hidden Скрыть корзину
                    span.checkout__your-cart-count 2
                .basket-bottom__summary.checkout__summary
                    .basket-bottom__summary-item
                        .basket-bottom__name Стоимость товаров:
                        .basket-bottom__value  3 298 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name Скидка:
                        .basket-bottom__value 0 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name Доставка
                        .basket-bottom__value 0 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name.basket-bottom__name--total К оплате:
                        .basket-bottom__value.basket-bottom__value--total 3 298 грн.
            .checkout__option
                .checkout__form
                    .checkout__form-title ДАННЫЕ КЛИЕНТА
                    .checkout__form-group
                        label(for="input-1").checkout__form-label.req Имя:
                        input(type="text" name="firstname").checkout__form-group-input#input-1
                    .checkout__form-group
                        label(for="input-2").checkout__form-label.req   ФАМИЛИЯ:
                        input(type="text" name="lastname").checkout__form-group-input#input-2
                    .checkout__form-group
                        label(for="input-3").checkout__form-label НАЗВАНИЕ ФИРМЫ (ДОПОЛНИТЕЛЬНО ДЛЯ КУРЬЕРА, ЕСЛИ ВЫ ДЕЛАЕТЕ ЗАКАЗ НА РАБОТУ):
                        input(type="text" name="company").checkout__form-group-input#input-3
                    .checkout__form-group-wrapper
                        .checkout__form-group
                            label(for="input-4").checkout__form-label Номер дома:
                            input(type="text" name="num").checkout__form-group-input#input-4
                        .checkout__form-group
                            label(for="input-5").checkout__form-label НОМЕР КВАРТИРЫ:
                            input(type="text" name="apt").checkout__form-group-input#input-5
                    .checkout__form-group-wrapper
                        .checkout__form-group
                            label(for="input-6").checkout__form-label ПОЧТОВЫЙ ИНДЕКС:
                            input(type="text" name="zip").checkout__form-group-input#input-6
                        .checkout__form-group
                            label(for="input-7").checkout__form-label ГОРОД:
                            input(type="text" name="city").checkout__form-group-input#input-7
                    .checkout__form-group
                        label(for="input-8").checkout__form-label   ОБЛАСТЬ:
                        input(type="text" name="region").checkout__form-group-input#input-8
                    .checkout__form-group.checkout__form-group--short
                        label(for="input-9").checkout__form-label.req   СТРАНА:
                        select#input-9.checkout__form-group-select
                            option(selected) Украина
                            option Россия
                            option Белоруссия
                    .checkout__form-group.checkout__form-group--short
                        label(for="input-10").checkout__form-label.req   НОМЕР МОБИЛЬНОГО ТЕЛЕФОНА:
                        input(type="number" name="phone").checkout__form-group-input#input-10
                    .checkout__form-group.checkout__form-group--short
                        label(for="input-11").checkout__form-label.req   E-MAIL:
                        input(type="text" name="email").checkout__form-group-input#input-11
                    .checkout__form-group.checkout__form-group--short
                        label(for="input-12").checkout__form-label   КОММЕНТАРИИ К ЗАКАЗУ (ДОПОЛНИТЕЛЬНЫЙ НОМЕР ТЕЛЕФОНА):
                        textarea(type="text" name="special_instruction").checkout__form-group-input#input-12
            //- .checkout__option
            //-     label.checkout__option-label
            //-         input(type="checkbox" name="rules").checkout__checkbox.js-checkbox
            //-         span.checkout__text-icon
            //-         span.checkout__option-text Використати бонусні кошти
            //-         span.checkout__price 30 грн.
            .checkout__option
                label.checkout__option-label
                    input(type="checkbox" name="rules").checkout__checkbox.js-checkbox
                    span.checkout__text-icon
                    span.checkout__option-text Я хочу першим(ою) отримувати інформацію про знижки та новинки. *
            .checkout__option
                label.checkout__option-label
                    input(type="checkbox" name="program").checkout__checkbox.js-checkbox
                    span.checkout__text-icon
                    span.checkout__option-text Я ХОЧУ ПРИМАТИ УЧАСТЬ У ПРОГРАМІ ЛОЯЛЬНОСТІ URBAN PLANET, ДІЗНАВАТИСЯ ПРО НОВИНКИ,АКЦІЇ ТА ЗНИЖКИ
            .checkout__option
                label.checkout__option-label
                    input(type="checkbox" name="rules").checkout__checkbox.js-checkbox
                    span.checkout__text-icon
                    span.checkout__option-text Я ПОГОДЖУЮСЬ З <a href="#">ПРАВИЛАМИ МАГАЗИНУ</a>. *
            .checkout__btns
                .basket-bottom__btns
                    a(href="#").basket-bottom__btn-checkout.btn-black.js-checkout-step-2
                        span Оформить заказ
                    a(href="#").basket-bottom__btn-continue
                        span Вернуться
        .checkout__tab.checkout__tab--2
            .checkout__head
                .checkout__steps
                    .checkout__steps-item.active.complete
                        span.checkout__steps-num 1.
                        span.checkout__steps-name Адресные данные
                    .checkout__steps-item.active
                        span.checkout__steps-num 2.
                        span.checkout__steps-name ДОСТАВКА И ОПЛАТА
                    .checkout__steps-item
                        span.checkout__steps-num 3.
                        span.checkout__steps-name ПОДТВЕРЖДЕНИЕ ЗАКАЗА
                .checkout__cart-list
                    - for (var i = 0; i < 2; i++)
                    .cart-page__list-item.cart-page__list-item--checkout
                        .cart-page__list-name.cart-page__list-name--inner
                            a(href="#").cart-page__list-remove.js-remove-item-cart-list
                            a(href="#").cart-page__list-image
                                img(src="img/cart/cart-1.jpg" alt="")
                            .cart-page__list-name-wrap
                                a(href="#").cart-page__list-name-info MEDICINE
                                .cart-page__list-name-value Medicine - Брюки Urban Uniform
                                .cart-page__mobile-info
                                    .cart-page__list-name-value M, Черный, 2 шт.
                                .cart-page__mobile-info
                                    .cart-page__mobile-price
                                        .cart-page__price-total 3 298 грн.
                                .cart-page__mobile-info
                                    a(href="#").cart-page__favorite удалить
                        .cart-page__list-details.cart-page__list-details--inner
                            .cart-page__list-inner
                                .cart-page__detail-item размер: <span> S</span>
                                .cart-page__detail-item цвет: <span>Черный</span>
                        .cart-page__list-quantity.cart-page__list-quantity--inner
                            .cart-page__list-inner
                                .cart-page__list-quantity-change-wrap
                                    input(type="text" value="1" readonly).cart-page__input-quantity
                        .cart-page__list-total.cart-page__list-total--inner
                            .cart-page__list-total-product 1 649 грн.
            .checkout__top-info.clearfix
                a(href="#").checkout__your-cart.js-show-small-cart
                    +icon('shopping-cart')
                    span.inner-text
                        span Оформить заказ
                        span.v-hidden Скрыть корзину
                    span.checkout__your-cart-count 2
                .basket-bottom__summary.checkout__summary
                    .basket-bottom__summary-item
                        .basket-bottom__name Стоимость товаров:
                        .basket-bottom__value  3 298 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name Скидка:
                        .basket-bottom__value 0 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name Доставка
                        .basket-bottom__value 0 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name.basket-bottom__name--total К оплате:
                        .basket-bottom__value.basket-bottom__value--total 3 298 грн.
            .checkout__item
                .checkout__item-title
                    +icon ('van')
                    | ВЫБЕРИТЕ СПОСОБ ДОСТАВКИ
                .checkout__option.js-radio-parent
                    label.checkout__radio-label
                        input(type="radio" name="global[shipping]" checked).checkout__radio.js-radio
                        span.checkout__option-radio-icon
                        .checkout__label-wrap
                            .checkout__label-name ТОЧКА ВЫДАЧИ (Укрпочта)
                            .checkout__label-price 0 грн.
                            .checkout__label-time
                                .checkout__label-time-inner
                                    span Расчетное время доставки:
                                    strong До 150 часов
                                    i.info
                    .checkout__option-content.active.js-radio-content
                        .checkout__option-form-group
                            .checkout__option-content-label ВЫБЕРИТЕ ПУНКТ ПОЛУЧЕНИЯ
                            select.checkout__option-content-select
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                            select.checkout__option-content-select
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                    .checkout__option-content.active.js-radio-content
                        .checkout__option-form-group
                            .checkout__option-content-label ИЛИ НА КАРТЕ НИЖЕ. ВЫ МОЖЕТЕ ВВЕСТИ СВОЙ АДРЕС. ВЫБОР НА КАРТЕ ПОДТВЕРДИТЕ, НАЖАВ НА ВЫБРАННОЙ ТОЧКЕ.
                            input.checkout__data-input
                            .checkout__map.map-wrapper#map
                .checkout__option.js-radio-parent
                    label.checkout__radio-label
                        input(type="radio" name="global[shipping]").checkout__radio.js-radio
                        span.checkout__option-radio-icon
                        .checkout__label-wrap
                            .checkout__label-name ТОЧКА ВЫДАЧИ (DHL)
                            .checkout__label-price 0 грн.
                            .checkout__label-time
                                .checkout__label-time-inner
                                    span Расчетное время доставки:
                                    strong До 150 часов
                                    i.info
                    .checkout__option-content.js-radio-content
                        .checkout__option-form-group
                            .checkout__option-content-label ВЫБЕРИТЕ ПУНКТ ПОЛУЧЕНИЯ
                            select.checkout__option-content-select
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                            select.checkout__option-content-select
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                    .checkout__option-content.js-radio-content
                        .checkout__option-form-group
                            .checkout__option-content-label ИЛИ НА КАРТЕ НИЖЕ. ВЫ МОЖЕТЕ ВВЕСТИ СВОЙ АДРЕС. ВЫБОР НА КАРТЕ ПОДТВЕРДИТЕ, НАЖАВ НА ВЫБРАННОЙ ТОЧКЕ.
                            input.checkout__data-input
                            .checkout__map.map-wrapper#map
                .checkout__option.js-radio-parent
                    label.checkout__radio-label
                        input(type="radio" name="global[shipping]").checkout__radio.js-radio
                        span.checkout__option-radio-icon
                        .checkout__label-wrap
                            .checkout__label-name ТОЧКА ВЫДАЧИ (НОВАЯ ПОЧТА)
                            .checkout__label-price 0 грн.
                            .checkout__label-time
                                .checkout__label-time-inner
                                    span Расчетное время доставки:
                                    strong До 150 часов
                                    i.info
                    .checkout__option-content.js-radio-content
                        .checkout__option-form-group
                            .checkout__option-content-label ВЫБЕРИТЕ ПУНКТ ПОЛУЧЕНИЯ
                            select.checkout__option-content-select
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                            select.checkout__option-content-select
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                    .checkout__option-content.js-radio-content
                        .checkout__option-form-group
                            .checkout__option-content-label ИЛИ НА КАРТЕ НИЖЕ. ВЫ МОЖЕТЕ ВВЕСТИ СВОЙ АДРЕС. ВЫБОР НА КАРТЕ ПОДТВЕРДИТЕ, НАЖАВ НА ВЫБРАННОЙ ТОЧКЕ.
                            input.checkout__data-input
                            .checkout__map.map-wrapper#map
                .checkout__option.js-radio-parent
                    label.checkout__radio-label
                        input(type="radio" name="global[shipping]").checkout__radio.js-radio
                        span.checkout__option-radio-icon
                        .checkout__label-wrap
                            .checkout__label-name КУРЬЕР (НОВАЯ ПОЧТА)
                            .checkout__label-price 0 грн.
                            .checkout__label-time
                                .checkout__label-time-inner
                                    span Расчетное время доставки:
                                    strong До 150 часов
                                    i.info
                    .checkout__option-content.js-radio-content
                        .checkout__option-form-group
                            .checkout__option-content-label ВЫБЕРИТЕ ПУНКТ ПОЛУЧЕНИЯ
                            select.checkout__option-content-select
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                            select.checkout__option-content-select
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                                option ВІННИЦЬКА
                                option ВОЛИНСЬКА
                                option ДНІПРОПЕТРОВСЬКА
                                option ДОНЕЦЬКА
                            .checkout__option-content-label УЛИЦА
                            input.checkout__data-input
                            .checkout__option-content-label НОМЕР ДОМА
                            input.checkout__data-input
                            .checkout__option-content-label НОМЕР КВАРТИРЫ/ОФИСА
                            input.checkout__data-input
                //- .checkout__option
                //-     label.checkout__option-label
                //-         input(type="checkbox" name="rules").checkout__checkbox.js-checkbox
                //-         span.checkout__text-icon
                //-         span.checkout__option-text Використати бонусні кошти
                //-         span.checkout__price 30 грн.
            .checkout__item.checkout__item--bonus
                form
                    .checkout__item-title.checkout__item-title--bonus Оплата бонусами
                    .checkout__item__canBonus Вы можете оплалить до 30% суммы заказа бонусами со своего счета.
                    .checkout__item__haveBonus
                        | Доступно
                        span 33,33
                    .checkout__item__useBonus
                        | Оплатить
                        input(type='number' placeholder="Введите бонусы")
                        span.
                            грн. (макс 30% суммы заказа)
                    button(type="submit").checkout__item__payBonus Применить
            .checkout__item
                .checkout__item-title
                    +icon ('credit-card')
                    | ВЫБЕРИТЕ СПОСОБ ОПЛАТЫ
                .checkout__option.js-radio-parent
                    label.checkout__radio-label
                        input(type="radio" name="payment" checked).checkout__radio.js-radio
                        span.checkout__option-radio-icon
                        .checkout__label-wrap
                            .checkout__label-name Наложений платіж
                .checkout__option.js-radio-parent
                    label.checkout__radio-label
                        input(type="radio" name="payment").checkout__radio.js-radio
                        span.checkout__option-radio-icon
                        .checkout__label-wrap
                            .checkout__label-name LiqPay (Оплата банківською картою)
                .checkout__option.js-radio-parent
                    label.checkout__radio-label
                        input(type="radio" name="payment").checkout__radio.js-radio
                        span.checkout__option-radio-icon
                        .checkout__label-wrap
                            .checkout__label-name оплата в терміналі ПриватБанк
                    .checkout__option-content.js-radio-content
                        .checkout__option-form-group
                            .checkout__option-content-label Після оформлення замовлення данні для оплати будуть надіслані на вказану в замовленні електронну пошту.
                .checkout__option.js-radio-parent
                    label.checkout__radio-label
                        input(type="radio" name="payment").checkout__radio.js-radio
                        span.checkout__option-radio-icon
                        .checkout__label-wrap
                            .checkout__label-name приват 24
            .checkout__btns
                .basket-bottom__btns
                    button(type="submit").basket-bottom__btn-checkout.btn-black.js-submit-checkout
                        span Оформить заказ
                    a(href="#").basket-bottom__btn-continue.js-checkout-step-1
                        span Вернуться
