.checkout
    .container
        .checkout__head
            form#checkout-step-1
                a(href="#").type-checkout__top-link
                    img(src="img/logo.png" alt="logo")
                .checkout__steps
                    .checkout__steps-item.active      
                        span.checkout__steps-num 1.
                        span.checkout__steps-name Адресные данные    
                    .checkout__steps-item
                        span.checkout__steps-num 2.
                        span.checkout__steps-name ДОСТАВКА И ОПЛАТА
                    .checkout__steps-item
                        span.checkout__steps-num 3.
                        span.checkout__steps-name ПОДТВЕРЖДЕНИЕ ЗАКАЗА
                .checkout__cart-list
                    - for (var i = 0; i < 2; i++)         
                        .cart-page__list-item.cart-page__list-item--checkout
                            .cart-page__list-name.cart-page__list-name--inner
                                a(href="#").cart-page__list-remove.js-remove-item-cart-list
                                a(href="#").cart-page__list-image
                                    img(src="img/cart/cart-1.jpg" alt="")
                                .cart-page__list-name-wrap
                                    a(href="#").cart-page__list-name-info MEDICINE
                                    .cart-page__list-name-value Medicine - Брюки Urban Uniform
                                    .cart-page__mobile-info
                                        .cart-page__list-name-value M, Черный, 2 шт.
                                    .cart-page__mobile-info 
                                        .cart-page__mobile-price
                                            .cart-page__price-total 3 298 грн.
                                    .cart-page__mobile-info
                                        a(href="#").cart-page__favorite удалить
                            .cart-page__list-details.cart-page__list-details--inner
                                .cart-page__list-inner
                                    .cart-page__detail-item размер: <span> S</span>
                                    .cart-page__detail-item цвет: <span>Черный</span> 
                            .cart-page__list-quantity.cart-page__list-quantity--inner
                                .cart-page__list-inner
                                    .cart-page__list-quantity-change-wrap
                                        input(type="text" value="1" readonly).cart-page__input-quantity
                            .cart-page__list-total.cart-page__list-total--inner
                                .cart-page__list-total-product 1 649 грн.      
                .checkout__top-info.clearfix   
                    a(href="#").checkout__your-cart.js-show-small-cart
                        +icon('shopping-cart')
                        span.inner-text 
                            span Оформить заказ
                            span.hidden Скрыть корзину
                        span.checkout__your-cart-count 2 
                    .basket-bottom__summary.checkout__summary
                        .basket-bottom__summary-item
                            .basket-bottom__name Стоимость товаров:
                            .basket-bottom__value  3 298 грн
                        .basket-bottom__summary-item
                            .basket-bottom__name Скидка:
                            .basket-bottom__value 0 грн
                        .basket-bottom__summary-item
                            .basket-bottom__name Доставка
                            .basket-bottom__value 0 грн
                        .basket-bottom__summary-item
                            .basket-bottom__name.basket-bottom__name--total К оплате:
                            .basket-bottom__value.basket-bottom__value--total 3 298 грн. 
                .checkout__option
                    label.checkout__option-label
                        input(type="checkbox").checkout__checkbox.js-checkbox            
                        span.checkout__text-icon 
                        span.checkout__option-text Я ХОЧУ ПЕРВЫМ(ОЙ) ПОЛУЧАТЬ ИНФОРМАЦИЮ НА E-MAIL О РАСПРОДЖАХ, АКЦИЯХ И КОНКУРСАХ     
                .checkout__option        
                    .checkout__form
                        .checkout__form-title ДАННЫЕ КЛИЕНТА
                        .checkout__form-group
                            label(for="input-1").checkout__form-label.req Имя:          
                            input(type="text" name="firstname").checkout__form-group-input#input-1
                        .checkout__form-group
                            label(for="input-2").checkout__form-label.req   ФАМИЛИЯ:         
                            input(type="text" name="lastname").checkout__form-group-input#input-2    
                        .checkout__form-group
                            label(for="input-3").checkout__form-label НАЗВАНИЕ ФИРМЫ (ДОПОЛНИТЕЛЬНО ДЛЯ КУРЬЕРА, ЕСЛИ ВЫ ДЕЛАЕТЕ ЗАКАЗ НА РАБОТУ):
                            input(type="text" name="company").checkout__form-group-input#input-3        
                        .checkout__form-group-wrapper
                            .checkout__form-group
                                label(for="input-4").checkout__form-label Номер дома:
                                input(type="text" name="num").checkout__form-group-input#input-4        
                            .checkout__form-group
                                label(for="input-5").checkout__form-label НОМЕР КВАРТИРЫ:
                                input(type="text" name="apt").checkout__form-group-input#input-5           
                        .checkout__form-group-wrapper
                            .checkout__form-group
                                label(for="input-6").checkout__form-label ПОЧТОВЫЙ ИНДЕКС:
                                input(type="text" name="zip").checkout__form-group-input#input-6        
                            .checkout__form-group
                                label(for="input-7").checkout__form-label ГОРОД:
                                input(type="text" name="city").checkout__form-group-input#input-7                    
                        .checkout__form-group
                            label(for="input-8").checkout__form-label   ОБЛАСТЬ:   
                            input(type="text" name="region").checkout__form-group-input#input-8         
                        .checkout__form-group.checkout__form-group--short
                            label(for="input-9").checkout__form-label.req   СТРАНА:   
                            input(type="text" name="country" value="Украина" readonly).checkout__form-group-input#input-9 
                        .checkout__form-group.checkout__form-group--short
                            label(for="input-10").checkout__form-label.req   НОМЕР МОБИЛЬНОГО ТЕЛЕФОНА:   
                            input(type="number" name="phone").checkout__form-group-input#input-10     
                        .checkout__form-group.checkout__form-group--short
                            label(for="input-11").checkout__form-label.req   E-MAIL:
                            input(type="text" name="email").checkout__form-group-input#input-11 
                        .checkout__form-group.checkout__form-group--short
                            label(for="input-12").checkout__form-label   КОММЕНТАРИИ К ЗАКАЗУ (ДОПОЛНИТЕЛЬНЫЙ НОМЕР ТЕЛЕФОНА):
                            textarea(type="text" name="special_instruction").checkout__form-group-input#input-12 
                .checkout__option
                    label.checkout__option-label
                        input(type="checkbox").checkout__checkbox.js-checkbox            
                        span.checkout__text-icon 
                        span.checkout__option-text Я ХОЧУ УКАЗАТЬ ДРУГОЙ АДРЕС ДОСТАВКИ
                    .checkout__option-form-wrapper.js-form-wrapper    
                        .checkout__option-form
                            .checkout__form-title ДАННЫЕ ДЛЯ ДОСТАВКИ
                            .checkout__form-group
                                label(for="input-13").checkout__form-label Имя:          
                                input(type="text" name="firstname").checkout__form-group-input#input-13
                            .checkout__form-group
                                label(for="input-14").checkout__form-label   ФАМИЛИЯ:         
                                input(type="text" name="lastname").checkout__form-group-input#input-14    
                            .checkout__form-group
                                label(for="input-15").checkout__form-label НАЗВАНИЕ ФИРМЫ (ДОПОЛНИТЕЛЬНО ДЛЯ КУРЬЕРА, ЕСЛИ ВЫ ДЕЛАЕТЕ ЗАКАЗ НА РАБОТУ):
                                input(type="text" name="company").checkout__form-group-input#input-15        
                            .checkout__form-group-wrapper
                                .checkout__form-group
                                    label(for="input-16").checkout__form-label Номер дома:
                                    input(type="text" name="num").checkout__form-group-input#input-16        
                                .checkout__form-group
                                    label(for="input-17").checkout__form-label НОМЕР КВАРТИРЫ:
                                    input(type="text" name="apt").checkout__form-group-input#input-17          
                            .checkout__form-group-wrapper
                                .checkout__form-group
                                    label(for="input-18").checkout__form-label ПОЧТОВЫЙ ИНДЕКС:
                                    input(type="text" name="zip").checkout__form-group-input#input-18        
                                .checkout__form-group
                                    label(for="input-19").checkout__form-label ГОРОД:
                                    input(type="text" name="city").checkout__form-group-input#input-19                    
                            .checkout__form-group.checkout__form-group--short
                                label(for="input-20").checkout__form-label   СТРАНА:   
                                input(type="text" name="country").checkout__form-group-input#input-20 
                .checkout__option
                    label.checkout__option-label
                        input(type="checkbox").checkout__checkbox.js-checkbox            
                        span.checkout__text-icon 
                        span.checkout__option-text Я ХОЧУ ПРИСОЕДИНИТЬСЯ К ANSWEAR.CLUB И ПОЛУЧАТЬ СКИДКИ НА ПОКУПКИ!
                    .checkout__option-form-wrapper.js-form-wrapper
                        .checkout__option-form-inner
                            .checkout__option-form
                                .checkout__form-group
                                    label(for="input-21").checkout__form-label Пол:          
                                    select#input-21.checkout__form-group-select
                                        option пол
                                        option Женщина
                                        option Мужчина
                                .checkout__form-group
                                    label.checkout__form-label Дата рождения:       
                                    .checkout__form-group-wrapper.checkout__form-group-wrapper--width
                                        select#input-22.checkout__form-group-select
                                            option пол
                                            option Женщина
                                            option Мужчина        
                                        select#input-23.checkout__form-group-select
                                            each month in ['Месяц','01','02','03','04','05','06','07','08','09','10','11','12']
                                                option= month 
                                        select#input-24.checkout__form-group-select
                                            each years in ['Год','1910','1911','1912','1913','1914','1915','1916','1917','1918','1919','1920','1921']
                                                option= years       
                                .checkout__form-group
                                    .checkout__info-helper Придумайте свой пароль для аккаунта (Вы должны иметь аккаунт, чтобы вступить в ANSWEAR.Club):
                                    label(for="input-25").checkout__form-label пароль:          
                                    input(type="text" name="firstname").checkout__form-group-input#input-25
                                .checkout__form-group
                                    label(for="input-26").checkout__form-label   ПОВТОРИТЕ ПАРОЛЬ:         
                                    input(type="text" name="lastname").checkout__form-group-input#input-26      
                        label.checkout__option-label
                            input(type="checkbox").checkout__checkbox
                            span.checkout__text-icon 
                            span.checkout__option-text.
                                Хочу участвовать в программе&nbsp;ANSWEAR.Club (<a target="_blank" href="/answear_club-a/okno.html">правила</a>), получать приглашения на VIP РАСПРОДАЖИ, НОЧНЫЕ ПОКУПКИ и другую коммерческую информацию по электронной почте!&nbsp;Выражаю согласие на обработку моих персональных данных, в частности имена, адреса, адреса электронной почты для того, чтобы обеспечить получение маркетинговых предложений от Wearco Sp. z o.o. (Краков, ул. Na Zjeździe, 11). Соглашаясь, Вы получаете бесплатное участие в ANSWEAR.Club           

                .checkout__option
                    label.checkout__option-label
                        input(type="checkbox" name="rules").checkout__checkbox.js-checkbox            
                        span.checkout__text-icon 
                        span.checkout__option-text Я СОГЛАСЕН С <a href="#">ПРАВИЛАМИ МАГАЗИНА</a>. *
                .checkout__btns        
                    .basket-bottom__btns
                        button(type="submit").basket-bottom__btn-checkout 
                            span Оформить заказ
                        a(href="#").basket-bottom__btn-continue 
                            span Вернуться  
