.checkout
    .container
        .checkout__top-link 
        .checkout__top-panel
            .basket-bottom__summary
                .basket-bottom__summary-item
                    .basket-bottom__name Стоимость товаров:
                    .basket-bottom__value  3 298 грн
                .basket-bottom__summary-item
                    .basket-bottom__name Скидка:
                    .basket-bottom__value 0 грн
                .basket-bottom__summary-item
                    .basket-bottom__name Доставка
                    .basket-bottom__value 0 грн
                .basket-bottom__summary-item
                    .basket-bottom__name.basket-bottom__name--total К оплате:
                    .basket-bottom__value.basket-bottom__value--total 3 298 грн. 
