.contact-form
    .container
        .row
            form#contactForm.col-md-8
                .checkout__form
                    .checkout__form-title Контактна форма
                    .checkout__form-group
                        label(for="input-1").checkout__form-label.req Имя:
                        input(type="text" name="name").checkout__form-group-input#input-1
                    .checkout__form-group
                        label(for="input-2").checkout__form-label.req Адрес:
                        input(type="text" name="adress").checkout__form-group-input#input-2
                    .checkout__form-group
                        label(for="input-3").checkout__form-label.req Телефон:
                        input(type="text" name="phone").checkout__form-group-input#input-3
                    .checkout__form-group
                        label(for="input-4").checkout__form-label.req Тема вопроса:
                        input(type="text" name="theme").checkout__form-group-input#input-4
                    .checkout__form-group
                        label(for="input-5").checkout__form-label.req Текст:
                        textarea(type="text" name="mess").checkout__form-group-input#input-5
                    .checkout__btns        
                        .basket-bottom__btns
                            button(type="submit").basket-bottom__btn-checkout.btn-black 
                                span Регистрация
            .col-md-4
                .contact-form__text
                    h3.contact-form__title Мужской гардероб
                    ul.contact-form__list
                        li Гардероб современного мужчины разнообразен и многогранен. И если, ещё пару-тройку десятков лет назад, в шкафу среднестатистического мужчины можно было найти лишь спортивный костюм, пару брюк, джинсы и несколько рубашек, то в настоящее время, мировая fasion-индустрия предлагает представителям сильной половины человечества широчайший выбор! Одежда, аксессуары и обувь на все случаи жизни, для любой ситуации и на самый притязательный вкус.
                        li Гардероб современного мужчины разнообразен и многогранен. И если, ещё пару-тройку десятков лет назад, в шкафу среднестатистического мужчины можно было найти лишь спортивный костюм, пару брюк, джинсы и несколько рубашек, то в настоящее время, мировая fasion-индустрия предлагает представителям сильной половины человечества широчайший выбор! Одежда, аксессуары и обувь на все случаи жизни, для любой ситуации и на самый притязательный вкус.
                        li Гардероб современного мужчины разнообразен и многогранен. И если, ещё пару-тройку десятков лет назад, в шкафу среднестатистического мужчины можно было найти лишь спортивный костюм, пару брюк, джинсы и несколько рубашек, то в настоящее время, мировая fasion-индустрия предлагает представителям сильной половины человечества широчайший выбор! Одежда, аксессуары и обувь на все случаи жизни, для любой ситуации и на самый притязательный вкус.
