include ../chunks/quiсk-buy.pug
.detail__speed-buy#hidden-order(style="display:none;")
        a(href="#").header__callback-close
        .header__callback__title Швидке замовлення
        form#speedBuy
            .header__callback-form-group
                label.header__callback-label iм’я
                input(type="text" name="name").header__callback-input
            .header__callback-form-group
                label.header__callback-label ТЕЛЕФОН
                input(type="text" name="phone").header__callback-input 
            .header__callback-form-group
                label.header__callback-label коментар
                textarea.header__callback-text
            .header__callback-form-group
                input(type="submit" value="Вiдправити").header__callback-submit

.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link он
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link одежда  
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link КОФТЫ   
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link ЧЕРЕЗ ГОЛОВУ      
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link JACK & JONES - КОФТА   


.size-info#sizes(style="display: none;")
    .container
        .size-info__title NIKE SIZE CHARTS
        .size-info__top-category-wrap
            .size-info__top-category-item
                a(href="#").size-info__top-category-link.js-top-category.active Для мужского 
                .size-info__inner-category-wrap
                    .size-info__inner-category-item
                        a(href="#").size-info__inner-category-link.active.js-inner-category  
                            span Верхній одяг  
                        .size-info__bottom-wrap
                            .size-info__bottom-item
                                a(href="#info-1").size-info__bottom-link.js-current-category.active
                                    span Всі моделі верху      
                            .size-info__bottom-item 
                                a(href="#info-2").size-info__bottom-link.js-current-category 
                                    span Оверсайз 
                            .size-info__bottom-item 
                                a(href="#info-3").size-info__bottom-link.js-current-category 
                                    span Сноуборд
                    .size-info__inner-category-item
                        a(href="#").size-info__inner-category-link.js-inner-category
                            span Штани/шорти 
                        .size-info__bottom-wrap
                            .size-info__bottom-item
                                a(href="#info-4").size-info__bottom-link.js-current-category 
                                    span Всі моделі Штани/шорти
                            .size-info__bottom-item 
                                a(href="#info-5").size-info__bottom-link.js-current-category 
                                    span Оверсайз 
                    .size-info__inner-category-item
                        a(href="#").size-info__inner-category-link.js-inner-category 
                            span Взуття
                        .size-info__bottom-wrap
                            .size-info__bottom-item
                                a(href="#info-6").size-info__bottom-link.js-current-category 
                                    span Всі моделі Взуття    
            .size-info__top-category-item
                a(href="#").size-info__top-category-link.js-top-category Для женского
        .info-main.active#info-1
            .info-main__title Всі моделі верху     
            .info-main__wrapper
                .info-main__step
                    .info-main__step-title <span>Крок 1: </span> Зробіть заміри 
                    .info-main__step-wrapper
                        img(src="img/size/1.jpeg" alt="").info-main__step-image
                .info-main__step
                    .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                    .info-main__step-wrapper
                        .info-main__table-wrapper
                            table.size-table
                                tbody
                                    tr.size-table__head
                                        th SIZE 
                                        th CHEST (cm)   
                                        th WAIST (cm)
                                        th HIPS (cm)
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') S
                                        td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                        td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') M
                                        td.nsg-bg--light-grey 96&ndash;104
                                        td.nsg-bg--light-grey 81&ndash;89
                                        td.nsg-bg--light-grey 96&ndash;104
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') L
                                        td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                        td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XL
                                        td.nsg-bg--light-grey 112&ndash;124
                                        td.nsg-bg--light-grey 97&ndash;109
                                        td.nsg-bg--light-grey 112&ndash;120
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXL
                                        td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                        td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                        td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXXL
                                        td.nsg-bg--light-grey 136&ndash;148
                                        td.nsg-bg--light-grey 121&ndash;133
                                        td.nsg-bg--light-grey 128&ndash;136
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXXXL
                                        td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                        td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                        td.nsg-bg--white(style='height:40px;') 136&ndash;145

        .info-main#info-2
            .info-main__title Оверсайз     
            .info-main__wrapper
                .info-main__step
                    .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                    .info-main__step-wrapper
                        .info-main__table-wrapper
                            table.size-table
                                tbody
                                    tr.size-table__head
                                        th SIZE 
                                        th CHEST (cm)   
                                        th WAIST (cm)
                                        th HIPS (cm)
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') S
                                        td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                        td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') M
                                        td.nsg-bg--light-grey 96&ndash;104
                                        td.nsg-bg--light-grey 81&ndash;89
                                        td.nsg-bg--light-grey 96&ndash;104
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') L
                                        td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                        td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XL
                                        td.nsg-bg--light-grey 112&ndash;124
                                        td.nsg-bg--light-grey 97&ndash;109
                                        td.nsg-bg--light-grey 112&ndash;120
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXL
                                        td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                        td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                        td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXXL
                                        td.nsg-bg--light-grey 136&ndash;148
                                        td.nsg-bg--light-grey 121&ndash;133
                                        td.nsg-bg--light-grey 128&ndash;136
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXXXL
                                        td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                        td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                        td.nsg-bg--white(style='height:40px;') 136&ndash;145    




        .info-main#info-3
            .info-main__title Сноуборд     
            .info-main__wrapper
                .info-main__step
                    .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                    .info-main__step-wrapper
                        .info-main__table-wrapper
                            table.size-table
                                tbody
                                    tr.size-table__head
                                        th SIZE 
                                        th CHEST (cm)   
                                        th WAIST (cm)
                                        th HIPS (cm)
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') S
                                        td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                        td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') M
                                        td.nsg-bg--light-grey 96&ndash;104
                                        td.nsg-bg--light-grey 81&ndash;89
                                        td.nsg-bg--light-grey 96&ndash;104
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') L
                                        td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                        td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XL
                                        td.nsg-bg--light-grey 112&ndash;124
                                        td.nsg-bg--light-grey 97&ndash;109
                                        td.nsg-bg--light-grey 112&ndash;120
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXL
                                        td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                        td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                        td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXXL
                                        td.nsg-bg--light-grey 136&ndash;148
                                        td.nsg-bg--light-grey 121&ndash;133
                                        td.nsg-bg--light-grey 128&ndash;136
                                    tr
                                        th.nike-cq-table-header(style='width:65px;') XXXXL
                                        td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                        td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                        td.nsg-bg--white(style='height:40px;') 136&ndash;145

.detail
    .container
        .detail__wrapper.clearfix
            .detail__left
                .detail__mobile
                    .detail__mobile-name Jack & Jones - Кофта 
                    .detail__mobile-price 869 грн
                    .detail__mobile-alert Залишилось 1 шт. Поспішайте купити!
                .detail__product-preview
                    a(href="1").detail__preview-link.js-go-to-slide.active
                        img(src="img/detail/detail-1-small.jpg" alt="")
                    a(href="2").detail__preview-link.js-go-to-slide
                        img(src="img/detail/detail-2-small.jpg" alt="")
                    a(href="3").detail__preview-link.js-go-to-slide
                        img(src="img/detail/detail-3-small.jpg" alt="")
                    a(href="4").detail__preview-link.js-go-to-slide
                        img(src="img/detail/detail-4-small.jpg" alt="")
                    a(href="#" ).detail__preview-link.detail__preview-link--video.js-show-video
                        img(src="img/detail/detail-4-small.jpg")             
                .detail__product-slider.detailSlider
                    .detail__slider.js-product-slider
                        a(href="img/detail/detail-1.jpg" data-fancybox).detail__product-slide
                            img(src="img/detail/detail-1.jpg") 
                        a(href="img/detail/detail-2.jpg" data-fancybox).detail__product-slide
                            img(src="img/detail/detail-2.jpg") 
                        a(href="img/detail/detail-3.jpg" data-fancybox).detail__product-slide
                            img(src="img/detail/detail-3.jpg") 
                        a(href="img/detail/detail-4.jpg" data-fancybox).detail__product-slide
                            img(src="img/detail/detail-4.jpg")  
                    .detail__video
                        video(controls='true', poster='img/detail/detail-4.jpg', preload='none', width='100%', height='100%')
                            source(src='video/detail.mp4', type='video/mp4')
                .detail__product-slider-info.
                    Рост модели на первой фотографии - 189 см. Показывает товар размера M
            .detail__right
                .detail__product-name-wrapper
                    .detail__product-title Jack & Jones - Кофта 
                    .detail__product-price 869 грн
                    .detail__product-alert Залишилось 1 шт. Поспішайте купити!
                .detail__product-color
                    a(href="#").detail__product-link.active
                        img(src="img/color/1.jpg" alt="")
                    a(href="#").detail__product-link
                        img(src="img/color/2.jpg" alt="")

                    a(href="#").detail__product-link
                        img(src="img/color/3.jpg" alt="")

                    a(href="#").detail__product-link
                        img(src="img/color/4.jpg" alt="")
                .detail__product-size
                    select.detail__product-select.js-custom-size.js-detail-size
                        option(value="dis" disabled).disabled Выберите размер
                        option(value="s") S - последний екземпляр
                        option(value="m") M
                        option(value="l") L
                        option(value="xl").disabled XL
                        option(value="xxl") XXL
                    .detail__product-size-wrapper
                        a(href="#").detail__product-size-btn.js-show-drop-select
                            span выберите размер
                            span.detail__size-name
                        .detail__size-dropdown
                            ul.detail__size-list.clearfix.js-detail-size
                                li.detail__size-item.disabled Выберите размер
                                li.detail__size-item S - последний екземпляр
                                li.detail__size-item M
                                li.detail__size-item L
                                li.detail__size-item XL
                .detail__speed-text Для швидкого замовлення спочатку оберіть розмір
                a(href="#sizes" data-fancybox).detail__size-table-link Таблица размероВ
                .detail__product-btns
                    a(href="#").detail__to-cart.btn-black 
                        span До кошику
                    a(data-fancybox data-src="#hidden-order" href="javascript:;" title="текст").js-detail-btn.detail__to-cart.btn-black
                        span Швидке замовлення
                    a(href="#").detail__to-save.js-add-to-save
                .detail__info-wrapper
                    .detail__info-item
                        a(href="#").detail__info-item-title.js-show-category.active Описание товара
                        .detail__info-item-text.js-show-category-body.active
                            p.
                                Кофта из коллекции Jack &amp; Jones. Модель выполнена из трикотажа с апликацией.
                            ul
                                li.
                                    Свободная модель
                                li.
                                    Круглый вырез
                                li.
                                    Отделка в виде стяжки
                                li.
                                    Декоративная деталь спереди
                                li.
                                    Длина рукава: 69 см.
                                li.
                                    Длина: 72 см
                                li.
                                    Ширина подмышками: 51 см
                                li.
                                    Параметры указаны для размера: M                         
                            p.
                                Состав: <br>
                                98% Хлопок, 2% Полиэстер
                            p.
                                Код товара: 4931-BLM018
                                Код произодителя: 12115965    
                    .detail__info-item
                        a(href="#").detail__info-item-title.js-show-category Отправка           
                        .detail__info-item-text.js-show-category-body
                            p.
                                БЕСПЛАТНАЯ ДОСТАВКА ДЛЯ ЗАКАЗОВ СВЫШЕ 750 ГРН. Возврат в течение 30 дней за наш счет!
                            p.
                                ANSWEAR.UA ПРЕДОСТАВЛЯЕТ СВОИМ КЛИЕНТАМ СЛЕДУЮЩИЕ СПОСОБЫ ДОСТАВКИ:
                            ul
                                li.
                                    Точка выдачи (Міст Експрес), 
                                li.
                                    Курьер (Міст Експрес), 
                                li.
                                    Почтомат ПриватБанка (Міст Експрес).
                                li.
                                    Более подробную информацию о каждой из форм доставки Вы можете  посмотреть здесь.
                            p.
                                ВРЕМЯ РЕАЛИЗАЦИИ ЗАКАЗА, БЕЗ ЗАВИСИМОСТИ ОТ ВЫБРАННОГО СПОСОБА ДОСТАВКИ, СОСТАВЛЯЕТ ДО 150 ЧАСОВ ОТ МОМЕНТА ПОТВЕРЖДЕНИЯ ЗАКАЗА В ОПЕРАТОРА ANSWEAR.UA.
                    .detail__info-item
                        a(href="#").detail__info-item-title.js-show-category Рекламация и возврат           
                        .detail__info-item-text.js-show-category-body     
                            p.
                                Мы ценим и уважаем своих Клиентов, а так же заботимся о поддержании нашего имиджа на должном уровне. Именно поэтому любой товар, купленный в нашем интернет-магазине, Вы можете вернуть в течении 30 календарных дней после его доставки (получения у курьера).
                            p.
                                Подробная информация о условиях возврата, обмена и рекламации наших товаров по адресу www.answear.ua/vozvraty-obmeny-i-reklamatsii.
                    .detail__info-item
                        a(href="#").detail__info-item-title.js-show-category Облако тегов  
                        .detail__info-item-text.js-show-category-body     
                            a(href="#").detail__tags #однотонные
                            | ,
                            a(href="#").detail__tags #без капюшона
                            | ,
                            a(href="#").detail__tags #однотонные
                            | ,
                            a(href="#").detail__tags #без капюшона
                            | ,
                            a(href="#").detail__tags #однотонные
                            | ,
                            a(href="#").detail__tags #без капюшона
                            | ,
                            a(href="#").detail__tags #однотонные
                            | ,
                            a(href="#").detail__tags #без капюшона
                            | ,
                .detail__sharing
            .detail__bottom 
                .detail__bottom-title СМОТРИТЕ ТАКЖЕ
                .detail__bottom-slider
                    .new-items__slider-wrap
                        .new-items__top-btns-wrapper
                            a(href="#" data-slider="slickPrev").new-items__arrow.new-items__arrow--left.js-detail-bottom-arrows
                                +icon('left')
                            a(href="#" data-slider="slickNext").new-items__arrow.new-items__arrow--right.js-detail-bottom-arrows
                                +icon('right')
                        .new-items__slider.js-detail-bottom
                            .catalog__main-item
                                .catalog__main-image-wrapper.js-other-side
                                    a(href="#" data-other-side="img/catalog/1-back.jpg").catalog__main-item-photo
                                        img(src="img/catalog/1.jpg" alt="" data-object-fit="cover").catalog__main-item-img
                                    .catalog__main-info-wrapper
                                        .catalog__main-sizes
                                            span xs
                                            span s
                                            span m
                                            span l
                                            span xl
                                        a(href="#quick-buy" data-fancybox).js-quick-buy.catalog__quick-buy ШВИДКА ПОКУПКА
                                a(href="#").catalog__main-item-name Basic Tee
                                .catalog__main-item-price--old 250 грн.
                                .catalog__main-item-price.catalog__main-item-price--new 280 грн.
                            -for (var i = 0; i < 8; i++)
                                .catalog__main-item
                                    .catalog__main-image-wrapper.js-other-side
                                        a(href="#" data-other-side="img/catalog/1-back.jpg").catalog__main-item-photo
                                            img(src="img/catalog/1.jpg" alt="" data-object-fit="cover").catalog__main-item-img
                                        .catalog__main-info-wrapper
                                            .catalog__main-sizes
                                                span xs
                                                span s
                                                span m
                                                span l
                                                span xl
                                            a(href="#quick-buy" data-fancybox).js-quick-buy.catalog__quick-buy ШВИДКА ПОКУПКА
                                    a(href="#").catalog__main-item-name Basic Tee
                                    .catalog__main-item-price 280 грн.
