.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link ЦЕНТР ПОДДЕРЖКИ
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
.help-page
    .container
        .help-page__wrapper
            .help-page__aside
                .help-page__aside-title Дисконтні та подарункові картки
                ul.help-page__aside-list
                    li
                        a(href="#").help-page__aside-link.active Подарункові картки
                    li
                        a(href="#").help-page__aside-link Дисконтні картки
            .help-page__main
                .help-page__main-title Подарункові картки
                .help-page__text-wrapper
                    blockquote ВОЗВРАТ ТОВАРА И ДЕНЕЖНЫХ СРЕДСТВ
                    p.
                        Мы хотим радовать Вас идеальным <a href="#"> online-шопингом</a> и сделать его максимально простым и приятным!
                    p.
                        Иногда товар может не подойти или не понравиться, поэтому ВЫ ВСЕГДА МОЖЕТЕ ВЕРНУТЬ ЕГО В ТЕЧЕНИЕ 30 КАЛЕНДАРНЫХ ДНЕЙ ПОСЛЕ ДОСТАВКИ (получения у курьера, в точке выдачи Міст Експресс или почтомате ПриватБанка)
                    p.
                        Если по каким-либо причинам Вы приняли такое решения, просим связаться с нами по телефону либо онлайн для согласования возврата:
                    blockquote ОБМЕН ТОВАРА
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                 
                    blockquote РЕКЛАМАЦИЯ ТОВАРА
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.                     
