include subscribe.pug
footer.wrapper.footer#footer
    .container
        .footer__row
            .footer__item
                a(href="#").footer__item-title iнформацiя
                ul.footer__item-list
                    li.footer__list-item
                        a(href="#").footer__list-link Про Urban Planet
                    li.footer__list-item
                        a(href="#").footer__list-link Подарункові та дисконтні картки
                    li.footer__list-item
                        a(href="#").footer__list-link Правила магазину
                    li.footer__list-item
                        a(href="#").footer__list-link Правила системи лояльності та знижок
                        
            .footer__item
                a(href="#").footer__item-title Центр пiдтрмики
                ul.footer__item-list
                    li.footer__list-item
                        a(href="#").footer__list-link Вартість та способи доставки
                    li.footer__list-item
                        a(href="#").footer__list-link Способи оплати
                    li.footer__list-item
                        a(href="#").footer__list-link Повернення, обміни та рекламації
                    li.footer__list-item
                        a(href="#").footer__list-link Час реалізації замовлення
                    li.footer__list-item
                        a(href="#").footer__list-link Часті питання
            .footer__item
                a(href="#").footer__item-title Контакти
                ul.footer__item-list
                    li.footer__list-item
                        a(href="#").footer__list-link 0800 0000000
                    li.footer__list-item
                        a(href="#").footer__list-link Щоденно з 9:00-21:00
                    li.footer__list-item
                        a(href="mailto:email@gmail.com").footer__list-link Написати лист
            .footer__item   
                .footer__social-wrap
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/fb.png")
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/insta.png")    
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/tw.png")
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/you.png")            
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/pint.png")    
                    a(href="#").footer__social-link.footer__social-link--vk
                        img(src="img/socials/socialVk.png")
