footer.wrapper.footer#footer
    .container
        .footer__row
            .footer__item
                a(href="#").footer__item-title Информация
                ul.footer__item-list
                    li.footer__list-item
                        a(href="#").footer__list-link O ANSWEAR.ua    
                    li.footer__list-item
                        a(href="#").footer__list-link Правила магазина ANSWEAR.ua
                    li.footer__list-item
                        a(href="#").footer__list-link Правила Answear Club
                    li.footer__list-item
                        a(href="#").footer__list-link Правила "Рекомендуйте нас знакомым"
            .footer__item
                a(href="#").footer__item-title Центр поддержки
                ul.footer__item-list
                    li.footer__list-item
                        a(href="#").footer__list-link Возвраты, обмены и рекламации 
                    li.footer__list-item
                        a(href="#").footer__list-link Стоимость и способы доставки
                    li.footer__list-item
                        a(href="#").footer__list-link Время реализации заказа
                    li.footer__list-item
                        a(href="#").footer__list-link Часто задаваемые вопросы
            .footer__item
                a(href="#").footer__item-title ДОСТАВКА И ОПЛАТА
                ul.footer__item-list
                    li.footer__list-item
                        a(href="#").footer__list-link Точка выдачи (Міст Експрес)
                    li.footer__list-item
                        a(href="#").footer__list-link Курьер (Міст Експрес)
                    li.footer__list-item
                        a(href="#").footer__list-link Почтомат ПриватБанка (Міст Експрес) 
                    li.footer__list-item
                        a(href="#").footer__list-link Наложенный платеж   
            .footer__item   
                .footer__social-wrap
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/socialFb.png")
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/socialYt.png")    
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/socialVk.png")
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/socialOtzyw.png")            
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/socialInst.png")    
                    a(href="#").footer__social-link.footer__social-link--fb
                        img(src="img/socials/socialOk.png")

        .footer__row
            .footer__item.footer__item--contacts.footer__item--phone
                .footer__info-item 0 (800) 214 234
                .footer__info-text.
                    Бесплатная горячая линия. <br>
                    Круглосуточно и без выходных (24/7) 
            .footer__item.footer__item--contacts.footer__item--email
                .footer__info-item Контактный e-mail
                .footer__info-text
                    a(href="#") ok@answear.ua
                    p.
                        Адрес для корреспонденции:<br>
                        а/я ANSWEAR, ул. Пасечная, 102 <br>
                        г. Львов, 79032, Украина
            .footer__item.footer__item--contacts.footer__item--shiping    
                .footer__info-item Бесплатная доставка
                .footer__info-text.
                    Акционная бесплатная доставка <br>
                    заказов на сумму свыше 750 ГРН.        
            .footer__item.footer__item--contacts.footer__item--delivery
                .footer__info-item Отправка завтра
                .footer__info-text
                    | Ближайшая отправка через  
                    a(href="#") 19 ч. 41 мин.
        .footer__row
            .footer__links-list
                a(href="#").footer__link Контакт
                a(href="#").footer__link Партнерская программа            
                a(href="#").footer__link правила
                a(href="#").footer__link Политика конфиденциальности
                a(href="#").footer__link Карта сайта
            .footer__copyright.text-right.
                Copyright © 2010-2017 ANSWEAR.ua. Создано Media Ambassador    
        .footer__row
            .footer__caption.
                WearCo Sp. z o.o. | ul. Na Zjeździe 11, 30-527 Kraków, Polska | зарегистрированное в реестре предпринимателей Государственного судебного реестра РП, который ведет Районный суд Кракова-Средместья г. Краков, XI Хозяйственный отдел, под номером KRS 0000414701, код REGON: 122515020, ИНН: 6793080390.        
