#quick-buy.quick-buy(style="display: none;")
    .size-info#sizes(style="display: none;")
        .container
            .size-info__title NIKE SIZE CHARTS
            .size-info__top-category-wrap
                .size-info__top-category-item
                    a(href="#").size-info__top-category-link.js-top-category.active Для мужского 
                    .size-info__inner-category-wrap
                        .size-info__inner-category-item
                            a(href="#").size-info__inner-category-link.active.js-inner-category  
                                span Верхній одяг  
                            .size-info__bottom-wrap
                                .size-info__bottom-item
                                    a(href="#info-1").size-info__bottom-link.js-current-category.active
                                        span Всі моделі верху      
                                .size-info__bottom-item 
                                    a(href="#info-2").size-info__bottom-link.js-current-category 
                                        span Оверсайз 
                                .size-info__bottom-item 
                                    a(href="#info-3").size-info__bottom-link.js-current-category 
                                        span Сноуборд           
                        .size-info__inner-category-item    
                            a(href="#").size-info__inner-category-link.js-inner-category
                                span Штани/шорти 
                            .size-info__bottom-wrap
                                .size-info__bottom-item
                                    a(href="#info-4").size-info__bottom-link.js-current-category 
                                        span Всі моделі Штани/шорти     
                                .size-info__bottom-item 
                                    a(href="#info-5").size-info__bottom-link.js-current-category 
                                        span Оверсайз 
                        .size-info__inner-category-item    
                            a(href="#").size-info__inner-category-link.js-inner-category 
                                span Взуття
                            .size-info__bottom-wrap
                                .size-info__bottom-item
                                    a(href="#info-6").size-info__bottom-link.js-current-category 
                                        span Всі моделі Взуття    
                .size-info__top-category-item
                    a(href="#").size-info__top-category-link.js-top-category Для женского                  
            .info-main.active#info-1
                .info-main__title Всі моделі верху     
                .info-main__wrapper
                    .info-main__step
                        .info-main__step-title <span>Крок 1: </span> Зробіть заміри 
                        .info-main__step-wrapper
                            img(src="img/size/1.jpeg" alt="").info-main__step-image
                    .info-main__step
                        .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                        .info-main__step-wrapper
                            .info-main__table-wrapper
                                table.size-table
                                    tbody
                                        tr.size-table__head
                                            th SIZE 
                                            th CHEST (cm)   
                                            th WAIST (cm)
                                            th HIPS (cm)
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') S
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                            td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') M
                                            td.nsg-bg--light-grey 96&ndash;104
                                            td.nsg-bg--light-grey 81&ndash;89
                                            td.nsg-bg--light-grey 96&ndash;104
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') L
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                            td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XL
                                            td.nsg-bg--light-grey 112&ndash;124
                                            td.nsg-bg--light-grey 97&ndash;109
                                            td.nsg-bg--light-grey 112&ndash;120
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXL
                                            td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                            td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                            td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXL
                                            td.nsg-bg--light-grey 136&ndash;148
                                            td.nsg-bg--light-grey 121&ndash;133
                                            td.nsg-bg--light-grey 128&ndash;136
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXXL
                                            td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                            td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                            td.nsg-bg--white(style='height:40px;') 136&ndash;145

            .info-main#info-2
                .info-main__title Оверсайз     
                .info-main__wrapper
                    .info-main__step
                        .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                        .info-main__step-wrapper
                            .info-main__table-wrapper
                                table.size-table
                                    tbody
                                        tr.size-table__head
                                            th SIZE 
                                            th CHEST (cm)   
                                            th WAIST (cm)
                                            th HIPS (cm)
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') S
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                            td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') M
                                            td.nsg-bg--light-grey 96&ndash;104
                                            td.nsg-bg--light-grey 81&ndash;89
                                            td.nsg-bg--light-grey 96&ndash;104
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') L
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                            td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XL
                                            td.nsg-bg--light-grey 112&ndash;124
                                            td.nsg-bg--light-grey 97&ndash;109
                                            td.nsg-bg--light-grey 112&ndash;120
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXL
                                            td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                            td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                            td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXL
                                            td.nsg-bg--light-grey 136&ndash;148
                                            td.nsg-bg--light-grey 121&ndash;133
                                            td.nsg-bg--light-grey 128&ndash;136
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXXL
                                            td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                            td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                            td.nsg-bg--white(style='height:40px;') 136&ndash;145    




            .info-main#info-3
                .info-main__title Сноуборд     
                .info-main__wrapper
                    .info-main__step
                        .info-main__step-title <span>Крок 2: </span> Знайдіть свій розмір
                        .info-main__step-wrapper
                            .info-main__table-wrapper
                                table.size-table
                                    tbody
                                        tr.size-table__head
                                            th SIZE 
                                            th CHEST (cm)   
                                            th WAIST (cm)
                                            th HIPS (cm)
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') S
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                            td.nsg-bg--white(style='height:40px;') 73&ndash;81
                                            td.nsg-bg--white(style='height:40px;') 88&ndash;96
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') M
                                            td.nsg-bg--light-grey 96&ndash;104
                                            td.nsg-bg--light-grey 81&ndash;89
                                            td.nsg-bg--light-grey 96&ndash;104
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') L
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                            td.nsg-bg--white(style='height:40px;') 89&ndash;97
                                            td.nsg-bg--white(style='height:40px;') 104&ndash;112
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XL
                                            td.nsg-bg--light-grey 112&ndash;124
                                            td.nsg-bg--light-grey 97&ndash;109
                                            td.nsg-bg--light-grey 112&ndash;120
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXL
                                            td.nsg-bg--white(style='height:40px;') 124&ndash;136
                                            td.nsg-bg--white(style='height:40px;') 109&ndash;121
                                            td.nsg-bg--white(style='height:40px;') 120&ndash;128
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXL
                                            td.nsg-bg--light-grey 136&ndash;148
                                            td.nsg-bg--light-grey 121&ndash;133
                                            td.nsg-bg--light-grey 128&ndash;136
                                        tr
                                            th.nike-cq-table-header(style='width:65px;') XXXXL
                                            td.nsg-bg--white(style='height:40px;') 147&ndash;160
                                            td.nsg-bg--white(style='height:40px;') 133&ndash;145
                                            td.nsg-bg--white(style='height:40px;') 136&ndash;145                      

    .quick-buy__detail
        .container
            .detail__wrapper
                .detail__left
                    .detail__mobile
                        a(href="#").detail__mobile-brand
                            img(src="img/detail/brand.jpg" alt="")
                        .detail__mobile-name Jack & Jones - Кофта 
                        .detail__mobile-price 869 грн
                        
                    .detail__product-preview
                        a(href="1").detail__preview-link.js-go-to-slide.active
                            img(src="img/detail/detail-1-small.jpg" alt="")
                        a(href="2").detail__preview-link.js-go-to-slide
                            img(src="img/detail/detail-2-small.jpg" alt="")
                        a(href="3").detail__preview-link.js-go-to-slide
                            img(src="img/detail/detail-3-small.jpg" alt="")
                        a(href="4").detail__preview-link.js-go-to-slide
                            img(src="img/detail/detail-4-small.jpg" alt="")
                        a(href="#" ).detail__preview-link.detail__preview-link--video.js-show-video
                            img(src="img/detail/detail-4-small.jpg")             
                    .detail__product-slider
                        .detail__slider.js-product-slider
                            a(href="img/detail/detail-1.jpg" data-fancybox).detail__product-slide
                                img(src="img/detail/detail-1.jpg") 
                            a(href="img/detail/detail-2.jpg" data-fancybox).detail__product-slide
                                img(src="img/detail/detail-2.jpg") 
                            a(href="img/detail/detail-3.jpg" data-fancybox).detail__product-slide
                                img(src="img/detail/detail-3.jpg") 
                            a(href="img/detail/detail-4.jpg" data-fancybox).detail__product-slide
                                img(src="img/detail/detail-4.jpg")  
                        .detail__video
                            video#productVideo(controls='true', poster='img/detail/detail-4.jpg', preload='none', width='100%', height='100%')
                                source(src='video/detail.mp4', type='video/mp4')
                    .detail__product-slider-info.
                        Рост модели на первой фотографии - 189 см. Показывает товар размера M                          
                .detail__right
                    .detail__product-name-wrapper
                        a(href="#").detail__brand
                            img(src="img/detail/brand.jpg" alt="")
                        .detail__product-title Jack & Jones - Кофта 
                        .detail__product-price 869 грн
                    .detail__product-color
                        a(href="#").detail__product-link.active
                            img(src="img/color/1.jpg" alt="")
                        a(href="#").detail__product-link
                            img(src="img/color/2.jpg" alt="")

                        a(href="#").detail__product-link
                            img(src="img/color/3.jpg" alt="")

                        a(href="#").detail__product-link
                            img(src="img/color/4.jpg" alt="")            
                    .detail__product-btns
                        .detail__product-size
                            select.detail__product-select.js-custom-size
                                option(value="s" disabled).disabled S  
                                option(value="m") M
                                option(value="l") L
                                option(value="xl") XL
                                option(value="xxl") XXL
                            .detail__product-size-wrapper
                                a(href="#").detail__product-size-btn.js-show-drop-select
                                    span размер
                                    span.detail__size-name
                                .detail__size-dropdown
                                    ul.detail__size-list.clearfix
                                        li.detail__size-item.disabled  S
                                        li.detail__size-item  M
                                        li.detail__size-item.selected  L
                                        li.detail__size-item  XL
                        a(href="#").detail__to-cart 
                            span В корзину
                        a(href="#").detail__to-save.js-add-to-save
                    a(href="#sizes" data-fancybox).detail__size-table-link Таблица размеров    
                    .detail__info-wrapper
                        .detail__info-item
                            a(href="#").detail__info-item-title.js-show-category.active Описание товара
                            .detail__info-item-text.js-show-category-body.active
                                p.
                                    Кофта из коллекции Jack &amp; Jones. Модель выполнена из трикотажа с апликацией.
                                ul
                                    li.
                                        Свободная модель
                                    li.
                                        Круглый вырез
                                    li.
                                        Отделка в виде стяжки
                                    li.
                                        Декоративная деталь спереди
                                    li.
                                        Длина рукава: 69 см.
                                    li.
                                        Длина: 72 см
                                    li.
                                        Ширина подмышками: 51 см
                                    li.
                                        Параметры указаны для размера: M                         
                                p.
                                    Состав: <br>
                                    98% Хлопок, 2% Полиэстер
                                p.
                                    Код товара: 4931-BLM018
                                    Код произодителя: 12115965    
                        .detail__info-item
                            a(href="#").detail__info-item-title.js-show-category Отправка           
                            .detail__info-item-text.js-show-category-body
                                p.
                                    БЕСПЛАТНАЯ ДОСТАВКА ДЛЯ ЗАКАЗОВ СВЫШЕ 750 ГРН. Возврат в течение 30 дней за наш счет!
                                p.
                                    ANSWEAR.UA ПРЕДОСТАВЛЯЕТ СВОИМ КЛИЕНТАМ СЛЕДУЮЩИЕ СПОСОБЫ ДОСТАВКИ:
                                ul
                                    li.
                                        Точка выдачи (Міст Експрес), 
                                    li.
                                        Курьер (Міст Експрес), 
                                    li.
                                        Почтомат ПриватБанка (Міст Експрес).
                                    li.
                                        Более подробную информацию о каждой из форм доставки Вы можете  посмотреть здесь.
                                p.
                                    ВРЕМЯ РЕАЛИЗАЦИИ ЗАКАЗА, БЕЗ ЗАВИСИМОСТИ ОТ ВЫБРАННОГО СПОСОБА ДОСТАВКИ, СОСТАВЛЯЕТ ДО 150 ЧАСОВ ОТ МОМЕНТА ПОТВЕРЖДЕНИЯ ЗАКАЗА В ОПЕРАТОРА ANSWEAR.UA.
                        .detail__info-item
                            a(href="#").detail__info-item-title.js-show-category Рекламация и возврат           
                            .detail__info-item-text.js-show-category-body     
                                p.
                                    Мы ценим и уважаем своих Клиентов, а так же заботимся о поддержании нашего имиджа на должном уровне. Именно поэтому любой товар, купленный в нашем интернет-магазине, Вы можете вернуть в течении 30 календарных дней после его доставки (получения у курьера).
                                p.
                                    Подробная информация о условиях возврата, обмена и рекламации наших товаров по адресу www.answear.ua/vozvraty-obmeny-i-reklamatsii.
                        .detail__info-item
                            a(href="#").detail__info-item-title.js-show-category Облако тегов  
                            .detail__info-item-text.js-show-category-body     
                                a(href="#").detail__tags #однотонные
                                | ,
                                a(href="#").detail__tags #без капюшона
                                | ,
                                a(href="#").detail__tags #однотонные
                                | ,
                                a(href="#").detail__tags #без капюшона
                                | ,
                                a(href="#").detail__tags #однотонные
                                | ,
                                a(href="#").detail__tags #без капюшона
                                | ,
                                a(href="#").detail__tags #однотонные
                                | ,
                                a(href="#").detail__tags #без капюшона
                                | ,
                    .detail__sharing



.banner
    .banner__top-btns-wrapper
        a(href="#" data-slider="slickPrev").banner__arrow.banner__arrow--left.js-arrows
            +icon('left')
        a(href="#" data-slider="slickNext").banner__arrow.banner__arrow--right.js-arrows
            +icon('right')
    .banner__slider-wrap.js-slider
        .banner__slide
            img(src="img/slider.jpg").banner__slide-img
            .container
                .banner__info
                    .banner__info-title PERFORMANCE<br>  WITH PURPOSE
                    .banner__info-text.
                        Julian BCA Board Shorts
                        showcase a pink hue to bring awareness to breast
                        cancer – a disease affecting millions globally.
                    .banner__btns.clearfix
                        a(href="#").banner__link увIйти

                        span.banner__btns-drop
                            a(href="#").banner__btns-drop-link магазин
                                +icon('right')
                            ul.banner__drop-list
                                li.banner__drop-item
                                    a(href="#").banner__drop-link увIйти
                                li.banner__drop-item
                                    a(href="#").banner__drop-link купити
        .banner__slide.video
            .banner__video-wrap
                video(preload="true" muted="true").banner__video
                    source(src="video/72451143001_5199892203001_5199870557001.mp4") 
            .container    
                .banner__info
                    .banner__info-title PERFORMANCE<br>  WITH PURPOSE
                    .banner__info-text.
                        Julian BCA Board Shorts
                        showcase a pink hue to bring awareness to breast
                        cancer – a disease affecting millions globally.
                    .banner__btns.clearfix
                        a(href="#").banner__link увIйти

                        span.banner__btns-drop
                            a(href="#").banner__btns-drop-link Меню
                                +icon('right')
                            ul.banner__drop-list
                                li.banner__drop-item
                                    a(href="#").banner__drop-link купити
                                li.banner__drop-item
                                    a(href="#").banner__drop-link блог
.icons-wrapper
    .container
        .row
            .col-md-4
                a(href="#").icons-wrapper__item
                    span.icons-wrapper__image-wrap
                        img(src="img/1.svg" alt="").icons-wrapper__img
                    span.icons-wrapper__text
                        h3 Ваш личный консультант
                        span.
                            Поможет решить<br>
                            любую сложность 
                            
                            
            .col-md-4
                a(href="#").icons-wrapper__item
                    span.icons-wrapper__image-wrap
                        img(src="img/2.svg" alt="").icons-wrapper__img
                    span.icons-wrapper__text
                        h3 Техподдержка 24/7
                        span.
                            Мы на связи,<br>
                            когда вам удобно

            .col-md-4
                a(href="#").icons-wrapper__item
                    span.icons-wrapper__image-wrap
                        img(src="img/3.svg" alt="").icons-wrapper__img
                    span.icons-wrapper__text
                        h3 Быстрая доставка
                        span.
                            Служба доставки<br>
                            МОЙО работает<br>
                            по всей Украине                
.new-items
    .container
        .new-items__title
            span Новинки
        .new-items__slider-wrap
            .new-items__top-btns-wrapper
                a(href="#" data-slider="slickPrev").new-items__arrow.new-items__arrow--left.js-new-arrows
                    +icon('left')
                a(href="#" data-slider="slickNext").new-items__arrow.new-items__arrow--right.js-new-arrows
                    +icon('right')                                                            
            .new-items__slider.js-new-items
                -for (var i = 0; i < 16; i++)
                    .catalog__main-item
                        .catalog__main-image-wrapper.js-other-side
                            a(href="#" data-other-side="img/catalog/1-back.jpg").catalog__main-item-photo
                                img(src="img/catalog/1.jpg" alt="" data-object-fit="cover").catalog__main-item-img
                            .catalog__main-info-wrapper
                                .catalog__main-sizes
                                    span xs
                                    span s
                                    span m
                                    span l
                                    span xl
                                a(href="#quick-buy" data-fancybox).js-quick-buy.catalog__quick-buy ШВИДКА ПОКУПКА        
                        a(href="#").catalog__main-item-name Basic Tee
                        .catalog__main-item-price 280 грн.    
                //- .new-items__slide
                //-     .new-items__image
                //-         a(href="#")
                //-             img(src="img/items/new-item.jpg" alt="").new-items__main-image 
                //-         a(href="#").new-items__btn Огляд
                //-     .text-center
                //-         a(href="#").new-items__name Icon    
                //-     .new-items__price 500 грн   
                //-     .new-items__color-wrap
                //-         span(data-href="img/items/new-item-1.jpg" style="background-color: #cacaca;").new-items__color.js-change-color
                //- .new-items__slide
                //-     .new-items__image
                //-         a(href="#")
                //-             img(src="img/items/new-item-1.jpg" alt="").new-items__main-image  
                //-         a(href="#").new-items__btn Огляд
                //-     .text-center
                //-         a(href="#").new-items__name Icon    
                //-     .new-items__price 500 грн  
                //-     .new-items__color-wrap
                //-         span(data-href="img/items/new-item-1.jpg" style="background-color: #cacaca;").new-items__color.js-change-color
                //-         span(data-href="img/items/new-item-2.jpg" style="background-color: #f3f3f3;").new-items__color.js-change-color
                //-         span(data-href="img/items/new-item-3.jpg" style="background-color: #ca4b4b;").new-items__color.js-change-color
                //-         span(data-href="img/items/new-item-4.jpg" style="background-color: #3174c3;").new-items__color.js-change-color
                //-         span(data-href="img/items/new-item-5.jpg" style="background-color: #d734e4;").new-items__color.js-change-color
                //- .new-items__slide
                //-     .new-items__image
                //-         a(href="#")
                //-             img(src="img/items/new-item-2.jpg" alt="").new-items__main-image  
                //-         a(href="#").new-items__btn Огляд
                //-     .text-center
                //-         a(href="#").new-items__name Icon    
                //-     .new-items__price 500 грн   
                //-     .new-items__color-wrap
                //-         span(data-href="img/items/new-item-1.jpg" style="background-color: #cacaca;").new-items__color.js-change-color
                //- 
                //- .new-items__slide
                //-     .new-items__image
                //-         a(href="#")
                //-             img(src="img/items/new-item-3.jpg" alt="").new-items__main-image  
                //-         a(href="#").new-items__btn Огляд
                //-     .text-center
                //-         a(href="#").new-items__name Icon    
                //-     .new-items__price 500 грн   
                //-     .new-items__color-wrap
                //-         span(data-href="img/items/new-item-1.jpg" style="background-color: #3174c3;").new-items__color.js-change-color
                //- .new-items__slide
                //-     .new-items__image
                //-         a(href="#")
                //-             img(src="img/items/new-item-4.jpg" alt="").new-items__main-image  
                //-         a(href="#").new-items__btn Огляд
                //-     .text-center
                //-         a(href="#").new-items__name Icon    
                //-     .new-items__price 500 грн   
                //-     .new-items__color-wrap
                //-         span(data-href="img/items/new-item-1.jpg" style="background-color: #cacaca;").new-items__color.js-change-color
                //- .new-items__slide
                //-     .new-items__image
                //-         a(href="#")
                //-             img(src="img/items/new-item-5.jpg" alt="").new-items__main-image  
                //-         a(href="#").new-items__btn Огляд
                //-     .text-center
                //-         a(href="#").new-items__name Icon    
                //-     .new-items__price 500 грн  
                //-     .new-items__color-wrap
                //-         span(data-href="img/items/new-item-1.jpg" style="background-color: #cacaca;").new-items__color.js-change-color
                //- .new-items__slide
                //-     .new-items__image
                //-         a(href="#")
                //-             img(src="img/items/new-item.jpg" alt="").new-items__main-image  
                //-         a(href="#").new-items__btn Огляд
                //-     .text-center
                //-         a(href="#").new-items__name Icon    
                //-     .new-items__price 500 грн   
                //-     .new-items__color-wrap
                //-         span(data-href="img/items/new-item-1.jpg" style="background-color: #d734e4;").new-items__color.js-change-color
                //- .new-items__slide
                //-     .new-items__image
                //-         a(href="#")
                //-             img(src="img/items/new-item-2.jpg" alt="").new-items__main-image  
                //-         a(href="#").new-items__btn Огляд
                //-     .text-center
                //-         a(href="#").new-items__name Icon    
                //-     .new-items__price 500 грн                    
                //-     .new-items__color-wrap
                //-         span(data-href="img/items/new-item-1.jpg" style="background-color: #cacaca;").new-items__color.js-change-color
.blog
    .container
        .blog__title 
            span Блог
        .blog__list
            .blog__item
                .blog__item-wrap
                    a(href="#").blog__item-title Diamond Footwear: Meet The Miners: Boo Johnson    
                    .blog__date Posted on March 27 2017
                    a(href="#").blog__image-wrap
                        img(src="img/blog/blog-1.jpg" alt="" width="360" height="240").blog__image
                    .blog__preview.
                        Diamond footwear has built a solid program since launching in January last year. Boo ...
            .blog__item
                .blog__item-wrap
                    a(href="#").blog__item-title Diamond Footwear: Nick Tucker The Push Part
                    .blog__date Posted on March 24 2017
                    a(href="#").blog__image-wrap
                        img(src="img/blog/blog-2.jpg" alt="" width="360" height="240").blog__image
                    .blog__preview.
                        Nick Tucker turned Pro two years ago and is already exhibiting the wisdom of a veteran...
            .blog__item
                .blog__item-wrap
                    a(href="#").blog__item-title View Now: DIAMOND Footwear Team Rider Brandon Biebel drops his new video part #AMFD #2
                    .blog__date Posted on March 15 2017
                    a(href="#").blog__image-wrap
                        img(src="img/blog/blog-3.jpg" alt="" width="360" height="240").blog__image
                    .blog__preview.
                        "Been hard in the streets the past year working on my PUSH part for The Berrics, but yo...
        
.instagram
    .container
        .instagram__title
            span <a href="#">@DIAMONDSUPPLYCO</a> ON INSTAGRAM   
        - var insta = ['img/instagram/1.jpg', 'img/instagram/2.jpg', 'img/instagram/3.jpg', 'img/instagram/4.jpg', 'img/instagram/5.jpg', 'img/instagram/6.jpg', 'img/instagram/7.jpg', 'img/instagram/8.jpg', 'img/instagram/9.jpg', 'img/instagram/10.jpg', 'img/instagram/11.jpg', 'img/instagram/12.jpg']    
        .instagram__list
            each instas in insta
                a(href=instas data-fancybox="images").instagram__link
                    img(src=instas).instagram__image
