.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Робота та співпраця
.jobs
    .jobs__banner(style="background:url(img/banner-blue-runner.jpg) center center;background-size:cover;")
        .jobs__banner-text
            .jobs__banner-title Nike Careers
            .jobs__banner-sub-title Leave Average in the Dust
            p.
                Create, take risks and pursue greatness at Nike
    .container
        .jobs__btns-wrapper
            a(href="#").jobs__btns Робота
            a(href="#").jobs__btns Співпраця   
