.mobile-menu
    a(href="#").mobile-menu__close.js-close-menu
    .mobile-menu__wrapper.active
        ul.mobile-menu__menu
            li.mobile-menu__menu-item
                a(href="#").mobile-menu__menu-link.js-submenu ОНА
                .mobile-menu__level.level
                    a(href="#").mobile-menu__menu-link.mobile-menu__menu-link--back.js-menu-back 
                        +icon ('left')
                        | ОНА
                    ul.mobile-menu__menu
                        li.mobile-menu__menu-item
                            a(href="#").mobile-menu__menu-link Акции
                        li.mobile-menu__menu-item
                            a(href="#").mobile-menu__menu-link Новинки    
                        li.mobile-menu__menu-item
                            a(href="#").mobile-menu__menu-link.js-submenu Одежда
                            .level
                                a(href="#").mobile-menu__menu-link.mobile-menu__menu-link--back.js-menu-back 
                                    +icon ('left')
                                    | Одежда
                                ul.mobile-menu__menu
                                    li.mobile-menu__menu-item
                                        a(href="#").mobile-menu__menu-link Акции
                                    li.mobile-menu__menu-item    
            li.mobile-menu__menu-item              
                a(href="#").mobile-menu__menu-link.js-submenu Он    
                .mobile-menu__level.level
                    a(href="#").mobile-menu__menu-link.mobile-menu__menu-link--back.js-menu-back 
                        +icon ('left')
                        | Он
                    ul.mobile-menu__menu
                        li.mobile-menu__menu-item
                            a(href="#").mobile-menu__menu-link Акции
                        li.mobile-menu__menu-item
                            a(href="#").mobile-menu__menu-link Новинки    
                        li.mobile-menu__menu-item
                            a(href="#").mobile-menu__menu-link.js-submenu Одежда
                            .level
                                a(href="#").mobile-menu__menu-link.mobile-menu__menu-link--back.js-menu-back 
                                    +icon ('left')
                                    | Одежда
                                ul.mobile-menu__menu
                                    li.mobile-menu__menu-item
                                        a(href="#").mobile-menu__menu-link Акции
                                    li.mobile-menu__menu-item    
