.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Аккаунт клиента
.private.clearfix
    .private-nav
        ul.private-nav__list
            li.private-nav__item
                a(href="#").private-nav__link Дані та адреса доставки
            li.private-nav__item
                a(href="#").private-nav__link.active Кошти програми лояльності
            li.private-nav__item
                a(href="#").private-nav__link Зміна пароля
            li.private-nav__item
                a(href="#").private-nav__link Мої замовлення
            li.private-nav__item
                a(href="#").private-nav__link Повернення замовлення
            li.private-nav__item
                a(href="#").private-nav__link Обране
    .private-info
        .private-loyalty
            .cart-page__title Кошти програми лояльностI
            .loyalty__title.checkout__form-title ВашI кошти
            .loyalty__price 300 грн.
            .private-loyalty__text текст текст текст текст текст