.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Аккаунт клиента
.private.clearfix
    .private-nav
        ul.private-nav__list
            li.private-nav__item
                a(href="#").private-nav__link Дані та адреса доставки
                    +icon('ico-private-1').private-nav__link--ico-1
            li.private-nav__item
                a(href="#").private-nav__link.active Кошти програми лояльності
                    +icon('ico-private-2').private-nav__link--ico-2
            li.private-nav__item
                a(href="#").private-nav__link Зміна пароля
                    +icon('ico-private-3').private-nav__link--ico-3
            li.private-nav__item
                a(href="#").private-nav__link Мої замовлення
                    +icon('ico-private-4').private-nav__link--ico-4
            li.private-nav__item
                a(href="#").private-nav__link Повернення замовлення
                    +icon('ico-private-5').private-nav__link--ico-5
            li.private-nav__item
                a(href="#").private-nav__link Обране
                    +icon('ico-private-6').private-nav__link--ico-6
    .private-info
        .private-loyalty
            .cart-page__title Кошти програми лояльностI
            .loyalty__title.checkout__form-title ВашI кошти
            .loyalty__price 300 грн.
            .private-loyalty__text текст текст текст текст текст