.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Аккаунт клиента
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Мои заказы
.private.clearfix
    .private-nav
        ul.private-nav__list
            li.private-nav__item
                a(href="#").private-nav__link Дані та адреса доставки
                    +icon('ico-private-1').private-nav__link--ico-1
            li.private-nav__item
                a(href="#").private-nav__link Кошти програми лояльності
                    +icon('ico-private-2').private-nav__link--ico-2
            li.private-nav__item
                a(href="#").private-nav__link Зміна пароля
                    +icon('ico-private-3').private-nav__link--ico-3
            li.private-nav__item
                a(href="#").private-nav__link.active Мої замовлення
                    +icon('ico-private-4').private-nav__link--ico-4
            li.private-nav__item
                a(href="#").private-nav__link Повернення замовлення
                    +icon('ico-private-5').private-nav__link--ico-5
            li.private-nav__item
                a(href="#").private-nav__link Обране
                    +icon('ico-private-6').private-nav__link--ico-6
    .private-info
        .history
            .cart-page__title.private-info__title Мої замовлення
            .history__item
                .history__top-line.js-history-open
                    .history__details подробности
                    .history__number.js-hide 170421-018910-ANU
                    .history__location.js-hide
                        a(href="#").location-link
                        .history__popup
                            .history__invoice Номер ТТН 523275562214553
                            .history__date Дата прибытия: 21.03.17
                    .history__status.js-hide Заказ передан на склад
                    .history__price.js-hide 198 грн.
                .history__inner
                    .history__info
                        .history__row
                            .history__left Номер заказа:
                            .history__right.history__number 170421-018910-ANU
                        .history__row
                            .history__left Способ доставки:
                            .history__right КУРЬЕР (МІСТ ЕКСПРЕС)
                        .history__row
                            .history__left Дата оформления заказа:
                            .history__right 2017-04-21 14:42:54
                        .history__row
                            .history__left Статус заказа:
                            .history__right Заказ передан на склад 2017-04-22 22:48:51
                        .history__row
                            .history__left Номер товарно-транспортной накладной (ТТН) Meest Express:
                            .history__right CV813696309PL 
                                a(href="https://t.meest-group.com/answear/CV813696309PL" class="trackLink") Отcледить посылку
                        .history__row
                            .history__left Контактный номер для курьера:
                            .history__right 0971779131
                        .history__row
                            .history__left Адрес для счета:
                            .history__right Яна Кравец, ul. Победы 8/4/67 Хмельницкий 29000
                    .history__basket.hbasket
                        .hbasket__top-line
                            .hbasket__product
                                .hbasket__title
                                    span ТОВАР
                            .hbasket__code
                                .hbasket__title
                                    span КОД
                            .hbasket__code
                                .hbasket__title
                                    span ЦЕНА ЗА ЕДИНИЦУ
                            .hbasket__total
                                .hbasket__title
                                    span СУММА
                        .hbasket__product-block
                            .hbasket__product-line
                                .hbasket__product
                                    .hbasket__title.hbasket__review
                                        a(href="#").hbasket__img
                                            img(src="img/img-product.jpg", alt="")
                                        .hbasket__data
                                            a(href="#").hbasket__product-title Medicine - Цепочка Marrakesh
                                            .hbasket__size размер: XL
                                            .hbasket__color цвет: Черный
                                            .hbasket__hidden
                                                .hbasket__title
                                                    span 1 x 149 грн.
                                                .hbasket__title
                                                    span 149 грн.

                                .hbasket__code
                                    .hbasket__title
                                        span 6931-AKD506
                                .hbasket__code
                                    .hbasket__title
                                        span 1 x 149 грн.
                                .hbasket__total
                                    .hbasket__title
                                        span 149 грн.
                            .hbasket__product-line
                                .hbasket__product
                                    .hbasket__title.hbasket__review
                                        a(href="#").hbasket__img
                                            img(src="img/img-product.jpg", alt="")
                                        .hbasket__data
                                            a(href="#").hbasket__product-title Medicine - Цепочка Marrakesh
                                            .hbasket__size размер: XL
                                            .hbasket__color цвет: Черный
                                            .hbasket__hidden
                                                .hbasket__title
                                                    span 1 x 149 грн.
                                                .hbasket__title
                                                    span 149 грн.
                                .hbasket__code
                                    .hbasket__title
                                        span 6931-AKD506
                                .hbasket__code
                                    .hbasket__title
                                        span 1 x 149 грн.
                                .hbasket__total
                                    .hbasket__title
                                        span 149 грн.
                            .hbasket__product-line
                                .hbasket__product
                                    .hbasket__title.hbasket__review
                                        a(href="#").hbasket__img
                                            img(src="img/img-product.jpg", alt="")
                                        .hbasket__data
                                            a(href="#").hbasket__product-title Medicine - Цепочка Marrakesh
                                            .hbasket__size размер: XL
                                            .hbasket__color цвет: Черный
                                            .hbasket__hidden
                                                .hbasket__title
                                                    span 1 x 149 грн.
                                                .hbasket__title
                                                    span 149 грн.
                                .hbasket__code
                                    .hbasket__title
                                        span 6931-AKD506
                                .hbasket__code
                                    .hbasket__title
                                        span 1 x 149 грн.
                                .hbasket__total
                                    .hbasket__title
                                        span 149 грн.
            .history__item
                .history__top-line.js-history-open
                    .history__details подробности
                    .history__number.js-hide 170421-018910-ANU
                    .history__location.js-hide
                        a(href="#").location-link
                        .history__popup
                            .history__invoice Номер ТТН 523275562214553
                            .history__date Дата прибытия: 21.03.17
                    .history__status.js-hide Заказ передан на склад
                    .history__price.js-hide 198 грн.
                .history__inner
                    .history__info
                        .history__row
                            .history__left Номер заказа:
                            .history__right.history__number 170421-018910-ANU
                        .history__row
                            .history__left Способ доставки:
                            .history__right КУРЬЕР (МІСТ ЕКСПРЕС)
                        .history__row
                            .history__left Дата оформления заказа:
                            .history__right 2017-04-21 14:42:54
                        .history__row
                            .history__left Статус заказа:
                            .history__right Заказ передан на склад 2017-04-22 22:48:51
                        .history__row
                            .history__left Номер товарно-транспортной накладной (ТТН) Meest Express:
                            .history__right CV813696309PL 
                                a(href="https://t.meest-group.com/answear/CV813696309PL" class="trackLink") Отcледить посылку
                        .history__row
                            .history__left Контактный номер для курьера:
                            .history__right 0971779131
                        .history__row
                            .history__left Адрес для счета:
                            .history__right Яна Кравец, ul. Победы 8/4/67 Хмельницкий 29000
                    .history__basket.hbasket
                        .hbasket__top-line
                            .hbasket__product
                                .hbasket__title
                                    span ТОВАР
                            .hbasket__code
                                .hbasket__title
                                    span КОД
                            .hbasket__code
                                .hbasket__title
                                    span ЦЕНА ЗА ЕДИНИЦУ
                            .hbasket__total
                                .hbasket__title
                                    span СУММА
                        .hbasket__product-block
                            .hbasket__product-line
                                .hbasket__product
                                    .hbasket__title.hbasket__review
                                        a(href="#").hbasket__img
                                            img(src="img/img-product.jpg", alt="")
                                        .hbasket__data
                                            a(href="#").hbasket__product-title Medicine - Цепочка Marrakesh
                                            .hbasket__size размер: XL
                                            .hbasket__color цвет: Черный
                                            .hbasket__hidden
                                                .hbasket__title
                                                    span 1 x 149 грн.
                                                .hbasket__title
                                                    span 149 грн.
                                .hbasket__code
                                    .hbasket__title
                                        span 6931-AKD506
                                .hbasket__code
                                    .hbasket__title
                                        span 1 x 149 грн.
                                .hbasket__total
                                    .hbasket__title
                                        span 149 грн.
            .history__item
                .history__top-line.js-history-open
                    .history__details подробности
                    .history__number.js-hide 170421-018910-ANU
                    .history__location.js-hide
                        a(href="#").location-link
                        .history__popup
                            .history__invoice Номер ТТН 523275562214553
                            .history__date Дата прибытия: 21.03.17
                    .history__status.js-hide Заказ передан на склад
                    .history__price.js-hide 198 грн.
                .history__inner
                    .history__info
                        .history__row
                            .history__left Номер заказа:
                            .history__right.history__number 170421-018910-ANU
                        .history__row
                            .history__left Способ доставки:
                            .history__right КУРЬЕР (МІСТ ЕКСПРЕС)
                        .history__row
                            .history__left Дата оформления заказа:
                            .history__right 2017-04-21 14:42:54
                        .history__row
                            .history__left Статус заказа:
                            .history__right Заказ передан на склад 2017-04-22 22:48:51
                        .history__row
                            .history__left Номер товарно-транспортной накладной (ТТН) Meest Express:
                            .history__right CV813696309PL 
                                a(href="https://t.meest-group.com/answear/CV813696309PL" class="trackLink") Отcледить посылку
                        .history__row
                            .history__left Контактный номер для курьера:
                            .history__right 0971779131
                        .history__row
                            .history__left Адрес для счета:
                            .history__right Яна Кравец, ul. Победы 8/4/67 Хмельницкий 29000
                    .history__basket.hbasket
                        .hbasket__top-line
                            .hbasket__product
                                .hbasket__title
                                    span ТОВАР
                            .hbasket__code
                                .hbasket__title
                                    span КОД
                            .hbasket__code
                                .hbasket__title
                                    span ЦЕНА ЗА ЕДИНИЦУ
                            .hbasket__total
                                .hbasket__title
                                    span СУММА
                        .hbasket__product-block
                            .hbasket__product-line
                                .hbasket__product
                                    .hbasket__title.hbasket__review
                                        a(href="#").hbasket__img
                                            img(src="img/img-product.jpg", alt="")
                                        .hbasket__data
                                            a(href="#").hbasket__product-title Medicine - Цепочка Marrakesh
                                            .hbasket__size размер: XL
                                            .hbasket__color цвет: Черный
                                            .hbasket__hidden
                                                .hbasket__title
                                                    span 1 x 149 грн.
                                                .hbasket__title
                                                    span 149 грн.
                                .hbasket__code
                                    .hbasket__title
                                        span 6931-AKD506
                                .hbasket__code
                                    .hbasket__title
                                        span 1 x 149 грн.
                                .hbasket__total
                                    .hbasket__title
                                        span 149 грн.
