.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Аккаунт клиента
.private.clearfix
    .private-nav
        ul.private-nav__list
            li.private-nav__item
                a(href="#").private-nav__link Дані та адреса доставки
                    +icon('ico-private-1').private-nav__link--ico-1
            li.private-nav__item
                a(href="#").private-nav__link Кошти програми лояльності
                    +icon('ico-private-2').private-nav__link--ico-2
            li.private-nav__item
                a(href="#").private-nav__link.active Зміна пароля
                    +icon('ico-private-3').private-nav__link--ico-3
            li.private-nav__item
                a(href="#").private-nav__link Мої замовлення
                    +icon('ico-private-4').private-nav__link--ico-4
            li.private-nav__item
                a(href="#").private-nav__link Повернення та обмін замовлення
                    +icon('ico-private-5').private-nav__link--ico-5
            li.private-nav__item
                a(href="#").private-nav__link Обране
                    +icon('ico-private-6').private-nav__link--ico-6
    .private-info
        .private-password
            .cart-page__title ЗмIна пароля
            form#newpass
                .checkout__form-group
                    label(for="input-1").checkout__form-label.req Актуальний пароль:
                    input(type="text" name="actualpass").checkout__form-group-input#input-1
                .checkout__form-group
                    label(for="input-2").checkout__form-label.req Новий пароль:
                    input(type="text" name="newpass").checkout__form-group-input#input-2
                .checkout__form-group
                    label(for="input-3").checkout__form-label.req Повторіть новий пароль:
                    input(type="text" name="repeatpass").checkout__form-group-input#input-3
                .private__btn
                    button(type="submit").basket-bottom__btn-checkout.btn_black
                        span Зберегти