.register
    .container
        form#registerUser
            .checkout__option
                .checkout__form
                    .checkout__form-title ЗАРЕГИСТРИРОВАТЬСЯ
                    .checkout__form-group
                        label(for="input-1").checkout__form-label.req Имя:
                        input(type="text" name="firstname").checkout__form-group-input#input-1
                    .checkout__form-group
                        label(for="input-2").checkout__form-label.req ФАМИЛИЯ:
                        input(type="text" name="lastname").checkout__form-group-input#input-2  
                    .checkout__form-group
                        label(for="input-21").checkout__form-label Пол:
                        select#input-21.checkout__form-group-select
                            option пол
                            option Женщина
                            option Мужчина
                    .checkout__form-group
                        label.checkout__form-label Дата рождения:
                        .checkout__form-group-wrapper.checkout__form-group-wrapper--width
                            select#input-22.checkout__form-group-select
                                each day in ['Дата','01','02','03','04','05','06','07','08','09','10','11','12']
                                    option= day
                            select#input-23.checkout__form-group-select
                                each month in ['Месяц','01','02','03','04','05','06','07','08','09','10','11','12']
                                    option= month 
                            select#input-24.checkout__form-group-select
                                each years in ['Год','1910','1911','1912','1913','1914','1915','1916','1917','1918','1919','1920','1921']
                                    option= years
                    .checkout__form-group.checkout__form-group--short
                        label(for="input-10").checkout__form-label.req   НОМЕР МОБИЛЬНОГО ТЕЛЕФОНА:   
                        input(type="number" name="phone").checkout__form-group-input#input-10     
                    .checkout__form-group.checkout__form-group--short
                        label(for="input-11").checkout__form-label.req   E-MAIL:
                        input(type="text" name="email").checkout__form-group-input#input-11    
                    .checkout__form-group
                        .checkout__info-helper Придумайте свой пароль для аккаунта
                        label(for="password").checkout__form-label пароль:          
                        input(type="text" name="password")#password.checkout__form-group-input
                    .checkout__form-group
                        label(for="passwordAgain").checkout__form-label   ПОВТОРИТЕ ПАРОЛЬ:         
                        input(type="text" name="passwordAgain").checkout__form-group-input#passwordAgain
                .checkout__option
                    label.checkout__option-label
                        input(type="checkbox" name="rules").checkout__checkbox.js-checkbox            
                        span.checkout__text-icon 
                        span.checkout__option-text Я хочу першим(ою) отримувати інформацію про знижки та новинки. *
                .checkout__option
                    label.checkout__option-label
                        input(type="checkbox" name="program").checkout__checkbox.js-checkbox            
                        span.checkout__text-icon 
                        span.checkout__option-text Я ХОЧУ ПРИМАТИ УЧАСТЬ У ПРОГРАМІ ЛОЯЛЬНОСТІ URBAN PLANET, ДІЗНАВАТИСЯ ПРО НОВИНКИ,АКЦІЇ ТА ЗНИЖКИ
                .checkout__option
                    label.checkout__option-label
                        input(type="checkbox" name="rules").checkout__checkbox.js-checkbox            
                        span.checkout__text-icon 
                        span.checkout__option-text Я ПОГОДЖУЮСЬ З <a href="#">ПРАВИЛАМИ МАГАЗИНУ</a>. *

                .checkout__btns        
                    .basket-bottom__btns
                        button(type="submit").basket-bottom__btn-checkout.btn-black 
                            span Регистрация
                        a(href="#").basket-bottom__btn-continue 
                            span Вернуться 
            .checkout__cart-list
                - for (var i = 0; i < 2; i++)         
                    .cart-page__list-item.cart-page__list-item--checkout
                        .cart-page__list-name.cart-page__list-name--inner
                            a(href="#").cart-page__list-remove.js-remove-item-cart-list
                            a(href="#").cart-page__list-image
                                img(src="img/cart/cart-1.jpg" alt="")
                            .cart-page__list-name-wrap
                                a(href="#").cart-page__list-name-info MEDICINE
                                .cart-page__list-name-value Medicine - Брюки Urban Uniform
                                .cart-page__mobile-info
                                    .cart-page__list-name-value M, Черный, 2 шт.
                                .cart-page__mobile-info 
                                    .cart-page__mobile-price
                                        .cart-page__price-total 3 298 грн.
                                .cart-page__mobile-info
                                    a(href="#").cart-page__favorite удалить
                        .cart-page__list-details.cart-page__list-details--inner
                            .cart-page__list-inner
                                .cart-page__detail-item размер: <span> S</span>
                                .cart-page__detail-item цвет: <span>Черный</span> 
                        .cart-page__list-quantity.cart-page__list-quantity--inner
                            .cart-page__list-inner
                                .cart-page__list-quantity-change-wrap
                                    input(type="text" value="1" readonly).cart-page__input-quantity
                        .cart-page__list-total.cart-page__list-total--inner
                            .cart-page__list-total-product 1 649 грн.                     
            .checkout__top-info.clearfix   
                a(href="#").checkout__your-cart.js-show-small-cart
                    +icon('shopping-cart')
                    span.inner-text 
                        span Оформить заказ
                        span.v-hidden Скрыть корзину
                    span.checkout__your-cart-count 2 
                .basket-bottom__summary.checkout__summary
                    .basket-bottom__summary-item
                        .basket-bottom__name Стоимость товаров:
                        .basket-bottom__value  3 298 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name Скидка:
                        .basket-bottom__value 0 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name Доставка
                        .basket-bottom__value 0 грн
                    .basket-bottom__summary-item
                        .basket-bottom__name.basket-bottom__name--total К оплате:
                        .basket-bottom__value.basket-bottom__value--total 3 298 грн.                      
