.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link story
.story
    .story__item
        img(src="img/story/story-1.jpg" alt).story__img
        .story__info-wrap(data-parallax='{"y": -550, "smoothness": 30}')
            .story__info-year 2013
            .story__info-text.
                France and England anounce plans to build the Chunnel between their two countries. Argentina's Diego Maradona enters soccer history in a le Coq Sportif jersey with his goal against England in the Mexico World Cup.
    .story__item
        img(src="img/story/story-2.jpg" alt).story__img
        .story__info-wrap(data-parallax='{"y": -550, "smoothness": 30}')
            .story__info-year 2014
            .story__info-text.
                France and England anounce plans to build the Chunnel between their two countries. Argentina's Diego Maradona enters soccer history in a le Coq Sportif jersey with his goal against England in the Mexico World Cup.            
    .story__item
        img(src="img/story/story-3.jpg" alt).story__img
        .story__info-wrap(data-parallax='{"y": -550, "smoothness": 30}')
            .story__info-year 2015
            .story__info-text.
                France and England anounce plans to build the Chunnel between their two countries. Argentina's Diego Maradona enters soccer history in a le Coq Sportif jersey with his goal against England in the Mexico World Cup.                    
    .story__item
        img(src="img/story/story-4.jpg" alt).story__img
        .story__info-wrap(data-parallax='{"y": -550, "smoothness": 30}')
            .story__info-year 2016
            .story__info-text.
                France and England anounce plans to build the Chunnel between their two countries. Argentina's Diego Maradona enters soccer history in a le Coq Sportif jersey with his goal against England in the Mexico World Cup.                    
