.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link story
.story
    .story__video
        a(href="#").story__link-video-open.js-open-video Смотреть видео
        .story__video-wrap
    .container
        .story__text
            .story__title OUR HISTORY
            .story__history-text
                p.
                    It starts in 1882 with the opening of a little hosiery store in Romilly-sur-Seine, in a part of the Champagne region called the Aube.
                p.
                    Emile Camuset, the man who opened that store, loved sports with a fierce passion. When he started making sports jersey in his small workshop, he probably never dreamed that, 130 years later, le coq sportif would become one of the world's most prestigious brands, renowned for its clothing, footwear and sporting equipment.    
    .story__years   
        .container
            .story__years-wrap
                a(href="#2013").story__years-links.js-story-scroll
                    | 2013
                    span.story__years-photo-wrap
                        img(src="img/story/story-1-thumb.jpg" width="120").story__years-photo
                a(href="#2014").story__years-links.js-story-scroll 
                    | 2014
                    span.story__years-photo-wrap
                        img(src="img/story/story-2-thumb.jpg" width="120").story__years-photo
                a(href="#2015").story__years-links.js-story-scroll 
                    | 2015
                    span.story__years-photo-wrap
                        img(src="img/story/story-3-thumb.jpg" width="120").story__years-photo
                a(href="#2016").story__years-links.js-story-scroll
                    | 2016
                    span.story__years-photo-wrap
                        img(src="img/story/story-4-thumb.jpg" width="120").story__years-photo
    .story__item#2013
        img(src="img/story/story-1.jpg" alt).story__img
        .story__info-wrap(data-parallax='{"y": -200, "smoothness": 30}')
            .story__info-year 2013
            .story__info-text.
                France and England anounce plans to build the Chunnel between their two countries. Argentina's Diego Maradona enters soccer history in a le Coq Sportif jersey with his goal against England in the Mexico World Cup.
    .story__item#2014
        img(src="img/story/story-2.jpg" alt).story__img
        .story__info-wrap(data-parallax='{"y": -200, "smoothness": 30}')
            .story__info-year 2014
            .story__info-text.
                France and England anounce plans to build the Chunnel between their two countries. Argentina's Diego Maradona enters soccer history in a le Coq Sportif jersey with his goal against England in the Mexico World Cup.            
    .story__item#2015
        img(src="img/story/story-3.jpg" alt).story__img
        .story__info-wrap(data-parallax='{"y": -200, "smoothness": 30}')
            .story__info-year 2015
            .story__info-text.
                France and England anounce plans to build the Chunnel between their two countries. Argentina's Diego Maradona enters soccer history in a le Coq Sportif jersey with his goal against England in the Mexico World Cup.                    
    .story__item#2016
        img(src="img/story/story-4.jpg" alt).story__img
        .story__info-wrap(data-parallax='{"y": -200, "smoothness": 30}')
            .story__info-year 2016
            .story__info-text.
                France and England anounce plans to build the Chunnel between their two countries. Argentina's Diego Maradona enters soccer history in a le Coq Sportif jersey with his goal against England in the Mexico World Cup.                    
