.subscribe
    .container
        form#subscribe
            .subscribe__form
                .subscribe__input-wrap
                    input(type="text" name="email" placeholder="Подпишитесь на рассылку и получите 300 грн.").subscribe__input
                input(type="submit" value="СОХРАНИТЬ").subscribe__submit    
    
