.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Главная страница
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link Вакансії
.vacancy
    .cart-page__title Вакансии
    .vacancy__main.clearfix
        .col-md-6.vacancy__banner
            img(src="img/instagram/5.jpg", alt="")
        .col-md-6
            .vacancy__info.
                Integer vel felis at eros tempor suscipit. Donec nunc ex, volutpat pulvinar mattis quis, ornare sed quam. Integer vehicula feugiat magna. Suspendisse dictum posuere lorem, eu interdum dui. Suspendisse congue turpis id diam semper molestie eget a leo. Nunc a dolor fringilla, vulputate neque ut, aliquam augue. Quisque velit mauris, iaculis vel venenatis sed, vehicula a ipsum. Ut in leo quam. Vivamus ornare tellus id consequat mattis. Aenean pellentesque mollis tempus. Mauris nunc diam, suscipit eu dui eu, volutpat fermentum dui. Maecenas tortor metus, lobortis mollis pulvinar eget, pellentesque id ligula. Cras varius congue tortor vitae pretium. Pellentesque condimentum diam nec tellus hendrerit, sit amet molestie risus feugiat. Sed eros turpis, interdum eget libero a, porta viverra sem. Cras justo lorem, lacinia et luctus non, commodo cursus ex.
    ul.vacancy__list
        li.vacancy__link
            .vacancy__btn.js-vacancy-toggle Дизайнер
            .vacancy__inner.js-vacancy-wrap
                .vacancy__main.clearfix
                    .col-md-4.vacancy__banner
                        img(src="img/instagram/5.jpg", alt="")
                    .col-md-8
                        .vacancy__info.
                            Integer vel felis at eros tempor suscipit. Donec nunc ex, volutpat pulvinar mattis quis, ornare sed quam. Integer vehicula feugiat magna. Suspendisse dictum posuere lorem, eu interdum dui. Suspendisse congue turpis id diam semper molestie eget a leo. Nunc a dolor fringilla, vulputate neque ut, aliquam augue. Quisque velit mauris, iaculis vel venenatis sed, vehicula a ipsum. Ut in leo quam. Vivamus ornare tellus id consequat mattis. Aenean pellentesque mollis tempus. Mauris nunc diam, suscipit eu dui eu, volutpat fermentum dui. Maecenas tortor metus, lobortis mollis pulvinar eget, pellentesque id ligula. Cras varius congue tortor vitae pretium. Pellentesque condimentum diam nec tellus hendrerit, sit amet molestie risus feugiat. Sed eros turpis, interdum eget libero a, porta viverra sem. Cras justo lorem, lacinia et luctus non, commodo cursus ex.
                        button(type="submit").basket-bottom__btn-checkout 
                            span Анкета

        li.vacancy__link
            .vacancy__btn.js-vacancy-toggle Оператор
            .vacancy__inner.js-vacancy-wrap
                .vacancy__main.clearfix
                    .col-md-4.vacancy__banner
                        img(src="img/instagram/5.jpg", alt="")
                    .col-md-8
                        .vacancy__info.
                            Integer vel felis at eros tempor suscipit. Donec nunc ex, volutpat pulvinar mattis quis, ornare sed quam. Integer vehicula feugiat magna. Suspendisse dictum posuere lorem, eu interdum dui. Suspendisse congue turpis id diam semper molestie eget a leo. Nunc a dolor fringilla, vulputate neque ut, aliquam augue. Quisque velit mauris, iaculis vel venenatis sed, vehicula a ipsum. Ut in leo quam. Vivamus ornare tellus id consequat mattis. Aenean pellentesque mollis tempus. Mauris nunc diam, suscipit eu dui eu, volutpat fermentum dui. Maecenas tortor metus, lobortis mollis pulvinar eget, pellentesque id ligula. Cras varius congue tortor vitae pretium. Pellentesque condimentum diam nec tellus hendrerit, sit amet molestie risus feugiat. Sed eros turpis, interdum eget libero a, porta viverra sem. Cras justo lorem, lacinia et luctus non, commodo cursus ex.
                        button(type="submit").basket-bottom__btn-checkout 
                            span Анкета
        li.vacancy__link
            .vacancy__btn.js-vacancy-toggle Менеджер
            .vacancy__inner.js-vacancy-wrap
                .vacancy__main.clearfix
                    .col-md-4.vacancy__banner
                        img(src="img/instagram/5.jpg", alt="")
                    .col-md-8
                        .vacancy__info.
                            Integer vel felis at eros tempor suscipit. Donec nunc ex, volutpat pulvinar mattis quis, ornare sed quam. Integer vehicula feugiat magna. Suspendisse dictum posuere lorem, eu interdum dui. Suspendisse congue turpis id diam semper molestie eget a leo. Nunc a dolor fringilla, vulputate neque ut, aliquam augue. Quisque velit mauris, iaculis vel venenatis sed, vehicula a ipsum. Ut in leo quam. Vivamus ornare tellus id consequat mattis. Aenean pellentesque mollis tempus. Mauris nunc diam, suscipit eu dui eu, volutpat fermentum dui. Maecenas tortor metus, lobortis mollis pulvinar eget, pellentesque id ligula. Cras varius congue tortor vitae pretium. Pellentesque condimentum diam nec tellus hendrerit, sit amet molestie risus feugiat. Sed eros turpis, interdum eget libero a, porta viverra sem. Cras justo lorem, lacinia et luctus non, commodo cursus ex.
                        button(type="submit").basket-bottom__btn-checkout 
                            span Анкета
        li.vacancy__link
            .vacancy__btn.js-vacancy-toggle Бухгалтер
            .vacancy__inner.js-vacancy-wrap
                .vacancy__main.clearfix
                    .col-md-4.vacancy__banner
                        img(src="img/instagram/5.jpg", alt="")
                    .col-md-8
                        .vacancy__info.
                            Integer vel felis at eros tempor suscipit. Donec nunc ex, volutpat pulvinar mattis quis, ornare sed quam. Integer vehicula feugiat magna. Suspendisse dictum posuere lorem, eu interdum dui. Suspendisse congue turpis id diam semper molestie eget a leo. Nunc a dolor fringilla, vulputate neque ut, aliquam augue. Quisque velit mauris, iaculis vel venenatis sed, vehicula a ipsum. Ut in leo quam. Vivamus ornare tellus id consequat mattis. Aenean pellentesque mollis tempus. Mauris nunc diam, suscipit eu dui eu, volutpat fermentum dui. Maecenas tortor metus, lobortis mollis pulvinar eget, pellentesque id ligula. Cras varius congue tortor vitae pretium. Pellentesque condimentum diam nec tellus hendrerit, sit amet molestie risus feugiat. Sed eros turpis, interdum eget libero a, porta viverra sem. Cras justo lorem, lacinia et luctus non, commodo cursus ex.
                        button(type="submit").basket-bottom__btn-checkout 
                            span Анкета
        li.vacancy__link
            .vacancy__btn.js-vacancy-toggle Грузчик
            .vacancy__inner.js-vacancy-wrap
                .vacancy__main.clearfix
                    .col-md-4.vacancy__banner
                        img(src="img/instagram/5.jpg", alt="")
                    .col-md-8
                        .vacancy__info.
                            Integer vel felis at eros tempor suscipit. Donec nunc ex, volutpat pulvinar mattis quis, ornare sed quam. Integer vehicula feugiat magna. Suspendisse dictum posuere lorem, eu interdum dui. Suspendisse congue turpis id diam semper molestie eget a leo. Nunc a dolor fringilla, vulputate neque ut, aliquam augue. Quisque velit mauris, iaculis vel venenatis sed, vehicula a ipsum. Ut in leo quam. Vivamus ornare tellus id consequat mattis. Aenean pellentesque mollis tempus. Mauris nunc diam, suscipit eu dui eu, volutpat fermentum dui. Maecenas tortor metus, lobortis mollis pulvinar eget, pellentesque id ligula. Cras varius congue tortor vitae pretium. Pellentesque condimentum diam nec tellus hendrerit, sit amet molestie risus feugiat. Sed eros turpis, interdum eget libero a, porta viverra sem. Cras justo lorem, lacinia et luctus non, commodo cursus ex.
                        button(type="submit").basket-bottom__btn-checkout 
                            span Анкета
        li.vacancy__link
            .vacancy__btn.js-vacancy-toggle Програміст
            .vacancy__inner.js-vacancy-wrap
                .vacancy__main.clearfix
                    .col-md-4.vacancy__banner
                        img(src="img/instagram/5.jpg", alt="")
                    .col-md-8
                        .vacancy__info.
                            Integer vel felis at eros tempor suscipit. Donec nunc ex, volutpat pulvinar mattis quis, ornare sed quam. Integer vehicula feugiat magna. Suspendisse dictum posuere lorem, eu interdum dui. Suspendisse congue turpis id diam semper molestie eget a leo. Nunc a dolor fringilla, vulputate neque ut, aliquam augue. Quisque velit mauris, iaculis vel venenatis sed, vehicula a ipsum. Ut in leo quam. Vivamus ornare tellus id consequat mattis. Aenean pellentesque mollis tempus. Mauris nunc diam, suscipit eu dui eu, volutpat fermentum dui. Maecenas tortor metus, lobortis mollis pulvinar eget, pellentesque id ligula. Cras varius congue tortor vitae pretium. Pellentesque condimentum diam nec tellus hendrerit, sit amet molestie risus feugiat. Sed eros turpis, interdum eget libero a, porta viverra sem. Cras justo lorem, lacinia et luctus non, commodo cursus ex.
                        button(type="submit").basket-bottom__btn-checkout 
                            span Анкета
