.blog {
    &--page {
        padding-top: 30px;
    }

    &__wide-banner {
        text-align: center;
        margin-bottom: 30px;
        display: block;
    }

    &__big-banner {
        width: 64.1%;
        padding: 0 15px;
        flex-shrink: 0;
        padding-bottom: 30px;
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }

    &__banner-list {
        display: flex;
        // padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e0e0e0;
        @media (max-width: $screen-md-max) {
            flex-wrap: wrap;
        }
    }

    &__insta-list {
        width: 100%;
        padding: 0 15px;
    }

    &__insta-list-title {
        font-family: $bebasBold;
        text-transform: uppercase;
        font-size: 26px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 10px 0;
        margin-bottom: 30px;
    }

    &__insta-post-image {
        width: 85px;
        height: 85px;
        flex-shrink: 0;
        margin-right: 15px;
    }

    &__insta-post-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        text-decoration: none;
        transition: 0.3s ease;

        &:hover {
            background: #e0e0e0;
        }
    }

    &__insta-post-text {
        font-family: $ptsans;
        font-size: 14px;
        line-height: 1.2;
        width: 100%;
        color: #000;
        padding-right: 30px;
    }

    &__link-category {
        background: #c60d1b;
        color: #fff;
        font-size: 16px;
        font-family: $bebasBold;
        text-transform: uppercase;
        padding: 4px 4px 3px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        transform: translateY(-50%);
    }

    &__inner {
        transition: 0.3s ease;
        text-align: center;

        &:hover {
            background: #e0e0e0;
        }
    }

    &__title {
        font-size: 20px;
        overflow: hidden;
        text-align: center;
        margin-bottom: 30px;

        span {
            position: relative;
            padding: 0 15px;

            &:before {
                content: '';
                @include position(absolute, 50% -9999px null null);
                background: #000;
                width: 9999px;
                height: 1px;
            }

            &:after {
                content: '';
                @include position(absolute, 50% null null -9999px );
                background: #000;
                width: 9999px;
                height: 1px;
            }
        }
    }

    &__link-text {
        font-family: $bebasBold;
        font-size: 20px;
        text-transform: uppercase;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0 15px 15px;
        color: #000;
        text-decoration: none;

        span {
            text-align: center;
        }
    }

    &__link-image {
        img {
            width: 100%;
        }
    }
}

.blog-inner{
    padding: 30px 0;
    &__arrows{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__arrow{
        opacity: 0;
        position: absolute;
        transition: all linear .3s;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1;
        width: 15px;
        height: 28px;
        &_left{
            left: 30px;
        }
        &_right{
            right: 30px;
        }
        svg {
            width: 100%;
            height: 100%;
            fill: #898989;
            transition: 0.3s ease;
        }

        &:hover {
            svg {
                fill: #000;
                transition: 0.3s ease;
            }
        }
    }
    &__slide{
        height: 500px;

        @media(max-width: 568px){
            height: 300px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &___share-title{
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        font-family: "BebasNeueBold",sans-serif;
        margin-bottom: 8px;
    }
    &__slider{
        margin-bottom: 30px;
        &-wrap{
            position: relative;
            &:hover .blog-inner__arrow{
                opacity: 1;
                transition: all linear .3s;
            }
        }
    }
    &__title{
        font-family: "BebasNeueBold",sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
    &__date{
        text-align: center;
    }
    &__text{
        text-align: center;
        font-size: 19px;
        line-height: 24px;
        color: #231F20;
        margin-bottom: 30px;
    }
    &__list{
        font-size: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    &__list-item{
        height: 32px;
        width: 32px;
        .fb{
            background: rgb(59, 89, 152);
        }
        .tw{
            background: rgb(29, 161, 242);
        }
        .reddit{
            background: rgb(255, 87, 0);
        }
        .pin{
            background-color: rgb(203, 32, 39);
        }
        .email{
            background-color: rgb(132, 132, 132);
        }
        &:not(:last-child){
            margin-right: 5px;
        }
    }
    &__social-link{
        display: block;
        line-height: 32px;
        width: 32px;
        height: 32px;
        svg{
            height: 32px;
            width: 32px;
            fill: #fff;
        }
    }
}
