.story {
    &__item {
        height: 100vh;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background: url("../img/trame.png") repeat top left;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }

        &:nth-child(odd) {
            .story__info-wrap {
                right: auto;
                left: 5%;
            }
        }
    }

    &__img {
        @include position(absolute, 0 0 0 0);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info-wrap {
        @include position(absolute, null 5% 0 null);
        width: 395px;
        color: #fff;
        text-transform: uppercase;
        z-index: 11;
        @media (max-width: $screen-sm-max){
            bottom: 5%;
            width: 90%;

        }
    }

    &__info-year {
        font-family: $bebasBold;
        font-size: 220px;
        line-height: 1;
        text-transform: uppercase;
        @media (max-width: $screen-sm-max){
            font-size: 60px;
            margin-bottom: 20px;

        }
        // margin-bottom: 20px;
    }

    &__info-text {
        font-family: $bebasBold;
        font-size: 20px;
        @media (max-width: $screen-sm-max){
            font-size: 18px;

        }
    }
}
